#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

gpg --import --batch --passphrase '{{ (rbw "GPG").data.password }}' \
  --pinentry-mode loopback <<< '{{ (rbw "GPG").notes }}'
gpg --import-ownertrust << 'EOF'
F4FBD9F5AA92AE2E9D06780717BAD38DBF772DFB:6:
EOF
