# -*- mode: caddyfile; -*-

{
  http_port {{ .port.http }}
  https_port {{ .port.https }}
  # All zones - Zone:Read, DNS:Edit
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

gpt.{{ .ddns.domain }} {
  reverse_proxy localhost:{{ .port.gpt_academic }}
}

mlflow.{{ .ddns.domain }} {
  reverse_proxy localhost:{{ .port.mlflow }}
  basic_auth {
    {{ (rbw "MLflow").data.username }} {{ output "caddy" "hash-password" "--plaintext" (rbw "MLflow").data.password | trim}}
  }
}

pdf.{{ .ddns.domain }} {
  reverse_proxy localhost:{{ .port.stirling_pdf }}
}

webdav.{{ .ddns.domain }} {
  reverse_proxy localhost:{{ .port.webdav }}
}

gpt.{{ .ddns.base_domain }} {
  reverse_proxy localhost:{{ .port.gpt_academic }}
}

mlflow.{{ .ddns.base_domain }} {
  reverse_proxy localhost:{{ .port.mlflow }}
  basic_auth {
    {{ (rbw "MLflow").data.username }} {{ output "caddy" "hash-password" "--plaintext" (rbw "MLflow").data.password | trim}}
  }
}

pdf.{{ .ddns.base_domain }} {
  reverse_proxy localhost:{{ .port.stirling_pdf }}
}

webdav.{{ .ddns.base_domain }} {
  reverse_proxy localhost:{{ .port.webdav }}
}
