# -*- mode: yaml; -*-

pacman:
  # {{ if eq .fs.fstype "btrfs" }}
  - btrfs-assistant
  - btrfs-desktop-notification
  - cachyos-snapper-support
  - compsize
  - grub-btrfs
  - grub-btrfs-support
  - snap-pac
  - snapper
  # {{ end }}
