#!/bin/bash
# vim: syntax=sh
set -o errexit
set -o nounset
set -o pipefail

pkg_list=(
  'meshio[all]'
  gnome-extensions-cli
  https://github.com/liblaf/ai-commit-cli.git
  https://github.com/liblaf/python-cli.git
  https://github.com/liblaf/thu-learn-downloader.git
  liblaf-ai-cli
  py-spy
  toml-sort
  # {{if .hardware.nvidia.exists}}
  nvitop
  # {{end}}
)

pkg_to_remove=(
  ai-commit-cli
  dvc
)

for pkg in "${pkg_to_remove[@]}"; do
  uv tool remove "$pkg" || true
done
for pkg in "${pkg_list[@]}"; do
  uv tool install --force "$pkg"
done
uv tool install --with cookiecutter --force copier
uv tool upgrade --all
