#!/usr/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

{{ template "load-pnpm.sh" }}

pkg_list=(
  @bitwarden/cli
  commitizen
  serve
  vercel
)

pkg_list=(${pkg_list[@]/%/"@latest"})

echo "${pkg_list[@]}" |
  xargs --max-args=1 --max-procs=1 --no-run-if-empty --verbose -- pnpm add --global

true
