#!/usr/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

run-safe sudo systemctl enable --now tlp.service
run-safe sudo systemctl enable --now warp-svc.service
run-safe systemctl --user enable --now warp-taskbar.service
