#!/usr/bin/bash
set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

run sudo install --mode="u=rw,go=r" --no-target-directory "{{ .chezmoi.sourceDir }}/.ignore/mirrorlist" "/etc/pacman.d/mirrorlist"

set +o errexit
run yay --devel --sync --sysupgrade --refresh --needed - < "{{ .chezmoi.sourceDir }}/.ignore/pkglist.txt"

exit 0
