#!/usr/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

{{ template "load-pnpm.sh" }}

pkg_list=(
  @bitwarden/cli
  commitizen
  serve
  vercel
)

for pkg in "${pkg_list[@]}"; do
  run-safe pnpm add --global "${pkg}@latest"
done
