#!/usr/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

extensions=(
  aaron-bond.better-comments
  Chouzz.vscode-better-align
  donjayamanne.python-extension-pack
  eamodio.gitlens
  esbenp.prettier-vscode
  foxundermoon.shell-format
  GitHub.copilot
  golang.Go
  James-Yu.latex-workshop
  llvm-vs-code-extensions.vscode-clangd
  ms-python.isort
  ms-vscode-remote.remote-ssh
  ms-vscode.cmake-tools
  ms-vscode.makefile-tools
  PKief.material-icon-theme
  redhat.vscode-yaml
  shd101wyy.markdown-preview-enhanced
  streetsidesoftware.code-spell-checker
  tamasfe.even-better-toml
  # WakaTime.vscode-wakatime
  yzhang.markdown-all-in-one
)

for ext in "${extensions[@]}"; do
  run-safe code --install-extension "${ext}" --force
done
