#!/usr/bin/bash
set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

pkgs=(
  black
  httpie
  isort
  mkdocs
  poetry
  pre-commit
  pygments
  thu-learn-downloader
  toml-sort
  wydyf
)

set +o errexit
for pkg in "${pkgs[@]}"; do
  run pipx install --force "${pkg}"
done

run pipx upgrade-all

exit 0
