#!/usr/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

{{ template "load-local-bin.sh" }}

pkg_list=(
  black
  httpie
  isort
  mkdocs
  poetry
  pre-commit
  pygments
  thu-learn-downloader
  toml-sort
  wydyf
)

for pkg in "${pkg_list[@]}"; do
  run-safe pipx install --force "${pkg}"
done

run-safe pipx upgrade-all
