#!/usr/bin/bash
set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

pkgs=(
  black
  isort
  mkdocs
  poetry
  pre-commit
  pygments
  toml-sort
)

for pkg in "${pkgs[@]}"; do
  run pipx install --force "${pkg}"
done

run pipx upgrade-all
