file://{{ .chezmoi.homeDir }}/Documents
file://{{ .chezmoi.homeDir }}/Downloads
file://{{ .chezmoi.homeDir }}/Pictures
file://{{ .chezmoi.homeDir }}/Videos
file://{{ .chezmoi.homeDir }}/github/liblaf
