# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

# ref: <https://forgejo.org/docs/latest/admin/config-cheat-sheet/>
# ref: <https://forgejo.org/docs/latest/admin/installation/docker/>

services:
  forgejo:
    container_name: forgejo
    environment:
      USER_GID: "{{ .services.gid }}"
      USER_UID: "{{ .services.forgejo.uid }}"
      FORGEJO____APP_NAME: Forgejo
      FORGEJO____APP_SLOGAN: Beyond coding. We forge.
      FORGEJO__repository__ROOT: /data/git/repositories
      FORGEJO__repository__ENABLE_PUSH_CREATE_USER: true
      FORGEJO__repository.signing__DEFAULT_TRUST_MODEL: committer
      FORGEJO__server__DOMAIN: forgejo.{{ .baseDomain }}
      FORGEJO__server__ROOT_URL: https://forgejo.{{ .baseDomain }}:{{ .services.caddy.https.port }}/
      FORGEJO__server__LFS_START_SERVER: true
      FORGEJO__database__DB_TYPE: sqlite3
      FORGEJO__cache__ADAPTER: twoqueue
      FORGEJO__cache__HOST: |-
        {"size":100, "recent_ratio":0.25, "ghost_ratio":0.5}
      FORGEJO__cron.git_gc_repos__ENABLED: true
      FORGEJO__cron.gc_lfs__ENABLED: true
      FORGEJO__lfs__PATH: /data/git/lfs
      FORGEJO__actions__ENABLED: false
    image: codeberg.org/forgejo/forgejo:15
    ports:
      - "{{ .services.forgejo.ssh.port }}:22"
      - "{{ .services.forgejo.http.port }}:3000"
    pull_policy: weekly
    restart: unless-stopped
    volumes:
      - ./forgejo:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - type: bind
        source: /mnt/DATA41-forgejo/git/lfs
        target: /data/git/lfs
        bind:
          create_host_path: false

networks:
  default:
    enable_ipv6: true
