#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

pkg_list=(
  @biomejs/biome
  @bitwarden/cli
  @liblaf/sub-converter
  commitizen
  cspell
  repomix
  speedscope
  vercel
)

bun add --global "${pkg_list[@]}"
bun update --global --latest
