#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

pkg_list=(
  "dvc[webdav]"
  "meshio[all]"
  https://github.com/liblaf/python-cli.git
  https://github.com/liblaf/thu-learn-downloader.git
  liblaf-lime
  nvitop
  py-spy
  toml-sort
)

pkg_to_remove=(
  ai-commit-cli
  aider-chat
  clearml
  glances
  liblaf-ai-cli
  liblaf-llm-cli
  readmeai
)

# {{ template "uv.sh" }}

for pkg in "${pkg_to_remove[@]}"; do
  uv tool uninstall "$pkg" || true
done
for pkg in "${pkg_list[@]}"; do
  # TODO: remove `--python "3.12"` until <https://github.com/astral-sh/uv/issues/8229> is fixed
  uv tool install --force --python "3.12" "$pkg"
done
uv tool install --with cookiecutter --force copier
uv tool upgrade --all

pixi global sync
