# -*- mode: ini; -*-
# https://github.com/z4yx/GoAuthing/blob/master/docs/systemd/user/goauthing6.service

[Unit]
Description = Authenticating utility for auth.tsinghua.edu.cn

[Install]
WantedBy = default.target

[Service]
ExecStartPre = sleep 1
ExecStartPre = -%h/.local/bin/auth-thu --daemonize deauth --ipv6
ExecStartPre = sleep 1
ExecStartPre = -%h/.local/bin/auth-thu --daemonize auth --ipv6
ExecStartPre = sleep 1
ExecStart = %h/.local/bin/auth-thu --daemonize online --ipv6
RestartSec = 5s
Restart = always
