// -*- mode: gotmpl; -*-

{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "YutoAPI": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "YutoAPI",
      "options": {
        "baseURL": "https://cn.gptapi.asia/v1",
        "apiKey": "{{ (rbwFields "YutoAPI").API_KEY.value }}"
      }
    }
  }
}
