#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

gnome-extensions install --force \
  '{{ .dirs.abs.external }}/codex-meter@slobbe.github.io.zip'

gext enable 'codex-meter@slobbe.github.io'

dconf load / << 'EOF'
{{ includeTemplate "codex-meter.dconf" }}
EOF
