#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}
{{ template "load-local-bin.sh" }}

pkg_list=(
  black
  httpie
  isort
  poetry
  pre-commit
  pygments
  thu-learn-downloader
  toml-sort
)

echo "${pkg_list[@]}" |
  xargs --max-args=1 --max-procs="$(nproc)" --no-run-if-empty --verbose -- pipx install --force

pipx upgrade-all

exit 0
