#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

sudo install -D --mode="u=rw,go=r" --no-target-directory --verbose \
  "{{ .chezmoi.sourceDir }}/.ignore/etc/default/grub" \
  /etc/default/grub

run-safe sudo bash "{{ .chezmoi.homeDir }}/.local/chezmoi/grub2-themes/install.sh" --screen 4k
