# -*- mode: ini; -*-

[Default Applications]
# microsoft-edge.desktop
application/xhtml+xml=microsoft-edge.desktop
text/html=microsoft-edge.desktop
x-scheme-handler/http=microsoft-edge.desktop
x-scheme-handler/https=microsoft-edge.desktop

# org.gnome.Totem.desktop
{{- range .mime.video }}
{{ . }}=org.gnome.Totem.desktop {{- end }}

# org.gnome.Loupe.desktop
{{- range .mime.image }}
{{ . }}=org.gnome.Loupe.desktop {{- end }}

# code.desktop
text/plain=code.desktop
text/x-python=code.desktop

# net.meshlab.MeshLab.desktop
model/obj=net.meshlab.MeshLab.desktop
model/stl=net.meshlab.MeshLab.desktop
model/x-ply=net.meshlab.MeshLab.desktop

# org.gnome.Evince.desktop
application/pdf=org.gnome.Evince.desktop

# org.gnome.Nautilus.desktop
inode/directory=org.gnome.Nautilus.desktop

# org.paraview.ParaView.desktop
model/vnd.pvd+xml=org.paraview.ParaView.desktop
model/vnd.vti+xml=org.paraview.ParaView.desktop
model/vnd.vtp+xml=org.paraview.ParaView.desktop
model/vnd.vtu+xml=org.paraview.ParaView.desktop

# typora.desktop
text/markdown=io.typora.Typora.desktop

# wps-office-prometheus.desktop
text/csv=wps-office-prometheus.desktop
