# -*- mode: toml; -*-
#:schema https://mise.jdx.dev/schema/mise.json

[settings]
default_config_filename = ".config/mise/config.toml"  # This must be an env var.
go_download_mirror = "{{ .mirrors.golang }}"
idiomatic_version_file_enable_tools = []
ignored_config_paths = ["~/mnt/"]
jobs = 1
trusted_config_paths = ["~/.local/share/chezmoi/", "~/github/liblaf/"]

[settings.node]
mirror_url = "{{ .mirrors.nodejs_release }}/"

[settings.npm]
package_manager = "bun"

[settings.pipx]
registry_url = "{{ .mirrors.pypi }}/{}/json"

[settings.python]
uv_venv_auto = "create|source"
uv_venv_create_args = ["--system-site-packages"]

[settings.sops]
age_key_file = "~/.config/sops/age/keys.txt"
age_recipients = "{{ .chezmoi.config.age.recipient }}"

[settings.status]
missing_tools = "always"
show_env = true
show_tools = true
truncate = false
