# -*- mode: ini; -*-

# Use 'systemd-analyze cat-config systemd/timesyncd.conf' to display the full config.
#
# See timesyncd.conf(5) for details.

[Time]
# ref: <https://tuna.moe/help/ntp/>
# ref: <https://wiki.archlinux.org/title/Systemd-timesyncd>
NTP = {{ .mirrors.ntp }} time.cloudflare.com
