# -*- mode: yaml -*-

arch:
  # ------------------------------- Toolchains ------------------------------- #
  - micromamba
  - miniconda3
  - pixi
  - pyright
  - python-ipykernel
  - python-pipx
  - python-ruff
  - python-uv
  - ruff
  - ty
  - uv

  # ---------------------------------- Build --------------------------------- #
  - python-build
  - python-hatch
  - python-hatch-vcs
  - python-hatchling

  # ------------------------------ Dependencies ------------------------------ #
  - python-anyio
  - python-attrs
  - python-beautifulsoup4
  - python-cachetools
  - python-chex
  - python-cytoolz
  - python-einops
  - python-etils
  - python-filelock
  - python-gitpython
  - python-h5py
  - python-hishel
  - python-httpx
  - python-icecream
  - python-jax
  - python-jaxtyping
  - python-joblib
  - python-lazy-loader
  - python-msgspec
  - python-networkx
  - python-nox
  - python-numpy
  - python-optax
  - python-pandas
  - python-pendulum
  - python-platformdirs
  - python-polars
  - python-pooch
  - python-pydantic
  - python-pydantic-extra-types
  - python-pydantic-settings
  - python-pydicom
  - python-pyvista
  - python-rich
  - python-ruamel-yaml
  - python-scipy
  - python-seaborn
  - python-socksio # < python-httpx[socks]
  - python-sympy
  - python-tenacity
  - python-tomlkit
  - python-toolz
  - python-tqdm
  - python-treescope
  - python-trimesh
  - python-typing_extensions
  - python-wcwidth
  - python-wrapt
  - python-wurlitzer
  - python-yaml

  # {{ if .hardware.nvidia.exists }}
  - python-cupy
  - python-nvidia-ml-py
  - python-pytorch-opt-cuda
  - python-torchvision-cuda
  # {{ else }}
  - python-pytorch-opt
  - python-torchvision
  # {{ end }}

  # ------------------------------ Documentation ----------------------------- #
  - mkdocs
  - mkdocs-autorefs
  - mkdocs-material
  - mkdocstrings

  # ---------------------------------- Test ---------------------------------- #
  - python-hypothesis
  - python-pytest
  - python-pytest-codspeed
  - python-pytest-cov
  - python-pytest-randomly
  - python-pytest-xdist
