#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

readarray -t root_files < <(find "{{.chezmoi.sourceDir}}/.external/root" -type f -printf "%P\n")
for file in "${root_files[@]}"; do
  source="{{.chezmoi.sourceDir}}/.external/root/$file"
  target="/$file"
  if [[ $source =~ .+\.tmpl ]]; then
    mkdir --parents --verbose /tmp/chezmoi
    tmpfile=$(mktemp --tmpdir="/tmp/chezmoi")
    trap "rm --force --recursive --verbose /tmp/chezmoi" EXIT
    # shellcheck disable=SC2288
    "{{.chezmoi.executable}}" execute-template < "$source" > "$tmpfile"
    source=$tmpfile
    target=${target%.tmpl}
  fi
  case "$target" in
    /etc/sudoers.d/*)
      sudo install -D --mode="ug=r,o=" --no-target-directory --verbose "$source" "$target"
      ;;
    *)
      sudo install -D --mode="u=rw,go=r" --no-target-directory --verbose "$source" "$target"
      ;;
  esac
done
install -D --mode="u=rw,go=r" --no-target-directory --verbose "{{.chezmoi.sourceDir}}/dot_config/pacman/makepkg.conf" "$HOME/.config/pacman/makepkg.conf"

sudo pacman --sync --sysupgrade --refresh --noconfirm
sudo pacman --sync --needed --noconfirm archlinuxcn-keyring

# shellcheck disable=SC2288
"{{.chezmoi.executable}}" execute-template < "{{.chezmoi.sourceDir}}/.external/pkg/pacman.txt.tmpl" |
  sed --expression="s/\s*#.*$//g" --expression="/^$/d" |
  sudo pacman --sync --needed --noconfirm -

sed --expression="s/\s*#.*$//g" --expression="/^$/d" "{{.chezmoi.sourceDir}}/.external/pkg/group.txt" |
  sudo pacman --sync --groups - |
  awk '{ print $2 }' |
  sudo pacman --sync --needed --noconfirm -

# shellcheck disable=SC2288
"{{.chezmoi.executable}}" execute-template < "{{.chezmoi.sourceDir}}/.external/pkg/aur.txt.tmpl" |
  sed --expression="s/\s*#.*$//g" --expression="/^$/d" |
  yay --aur --devel --useask=false --sync --needed --noconfirm -

sudo systemctl daemon-reload
systemctl --user daemon-reload
