#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

root="{{.chezmoi.sourceDir}}/.external/root"
readarray -t root_files < <(find "$root" -type f -printf "%P\n")
tmpdir=$(mktemp --directory)
trap 'rm --force --recursive "$tmpdir"' EXIT
for file in "${root_files[@]}"; do
  source=$root/$file
  target=/$file
  if [[ $source =~ .+\.tmpl ]]; then
    tmpfile=$tmpdir/$(basename --suffix=".tmpl" "$file")
    # shellcheck disable=SC2288
    "{{.chezmoi.executable}}" execute-template < "$source" > "$tmpfile"
    source=$tmpfile
    target=${target%.tmpl}
  fi
  case "$target" in
    /etc/sudoers.d/*) mode="ug=r,o=" ;;
    *) mode="u=rw,go=r" ;;
  esac
  sudo install -D --mode="$mode" --no-target-directory --verbose "$source" "$target"
done

makepkg_conf=$HOME/.config/pacman/makepkg.conf
mkdir --parents "$(dirname "$makepkg_conf")"
# shellcheck disable=SC2094,SC2288
"{{.chezmoi.executable}}" cat "$makepkg_conf" > "$makepkg_conf"
