#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

pueue reset --force

readarray -t scripts < <(find "{{.chezmoi.sourceDir}}/.external/scripts" -type f -name "run_after_*")
tmpdir=$(mktemp --directory)
trap 'rm --force --recursive "$tmpdir"' EXIT
for script in "${scripts[@]}"; do
  if [[ $script =~ .*\.tmpl$ ]]; then
    target=$tmpdir/$(basename --suffix=".tmpl" "$script")
    chezmoi execute-template < "$script" > "$target"
  else
    target=$script
  fi
  case $target in
    *.fish) pueue add --group "chezmoi" "fish \"$target\" < /dev/null" ;;
    *.py) pueue add --group "chezmoi" python "$target" ;;
    *.sh) pueue add --group "chezmoi" bash "$target" ;;
  esac
done

pueue wait --group "chezmoi"
