#!/bin/bash
set -o nounset
set -o pipefail

{{include "other/scripts/init.sh"}}

sudo install -D --mode="ug=r,o=" --no-target-directory --verbose \
  "{{.chezmoi.sourceDir}}/other/root/etc/sudoers.d/10_env_keep" \
  /etc/sudoers.d/10_env_keep
echo "$USER ALL=(ALL) NOPASSWD: ALL" | run sudo tee "/etc/sudoers.d/00_$USER" > /dev/null

USER_SHELL=$(awk --field-separator=":" --assign user="$USER" '$1 == user { print $NF }' /etc/passwd)
if [[ $USER_SHELL != /usr/bin/zsh ]]; then
  run chsh --shell /usr/bin/zsh
fi

function group-add() {
  local group=$1
  if ! groups | grep $group > /dev/null; then
    if grep $group /etc/group > /dev/null; then
      run sudo gpasswd --add $USER $group
    fi
  fi
}

group-add docker
group-add vcpkg
