#!/bin/bash
set -o nounset
set -o pipefail

{{ include "other/scripts/init.sh" }}

sudo systemctl daemon-reload
systemctl --user daemon-reload

run sudo systemctl disable --now warp-svc.service
run sudo systemctl enable --now "goauthing@$USER.service"
run sudo systemctl enable --now "goauthing6@$USER.service"
run sudo systemctl enable --now "qbittorrent-nox@$USER.service"
run sudo systemctl enable --now cronie.service
run sudo systemctl enable --now docker.service
run sudo systemctl enable --now netdata.service
run sudo systemctl enable --now sing-box.service
run sudo systemctl enable --now sshd.service
run sudo systemctl enable --now tlp.service
run sudo systemctl enable --now ufw.service
run systemctl --user disable --now warp-taskbar.service
run systemctl --user enable --now glances.service

{{ if .nvidia.install -}}
run sudo systemctl enable nvidia-hibernate.service
run sudo systemctl enable nvidia-resume.service
run sudo systemctl enable nvidia-suspend.service
{{ if .nvidia.mobile -}}
run sudo systemctl enable --now nvidia-powerd.service
{{- end }}
{{- end }}
