#!/bin/bash
set -o nounset
set -o pipefail

{{ include "other/scripts/init.sh" }}
{{ include "other/scripts/load-pnpm.sh" }}

pkg_list=(
  speedscope
)
pkg_list=("${pkg_list[@]/%/"@latest"}")

pnpm env use --global lts
pnpm add --global ${pkg_list[@]}
