#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

systemctl --user enable --now pueued.service
sleep 3 # wait for pueued to start
pueue reset --force
pueue group add "chezmoi" || true
pueue parallel --group "chezmoi" 8

readarray -t scripts < <(find "$HOME/.cache/dotfiles/scripts" -type f)
for script in "${scripts[@]}"; do
  case "$script" in
    *.fish) pueue add --group "chezmoi" "fish '$script' < /dev/null" ;;
    *.py) pueue add --group "chezmoi" python "$script" ;;
    *.sh) pueue add --group "chezmoi" bash "$script" ;;
  esac
done

pueue wait --group "chezmoi"
