#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

sudo systemctl enable --now "goauthing@$USER.service"
sudo systemctl enable --now "goauthing6@$USER.service"
sudo systemctl enable --now "qbittorrent-nox@$USER.service"
sudo systemctl enable --now docker.service
sudo systemctl enable --now logrotate.timer
sudo systemctl enable --now netdata.service
sudo systemctl enable --now sing-box.service
sudo systemctl enable --now smartdns.service
sudo systemctl enable --now sshd.service
sudo systemctl enable --now warp-svc.service
systemctl --user enable --now glances.service
systemctl --user enable --now pueued.service
systemctl --user enable --now rclone-business.service
systemctl --user enable --now rclone-personal.service
systemctl --user enable --now warp-taskbar.service

# {{if .nvidia.install}}
sudo systemctl enable nvidia-hibernate.service
sudo systemctl enable nvidia-resume.service
sudo systemctl enable nvidia-suspend.service
# {{if .nvidia.mobile}}
sudo systemctl enable --now nvidia-powerd.service
# {{end}}
# {{end}}
