#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

systemctl --user enable --now pueued.service
pueue clean --group "chezmoi" || true
pueue group remove "chezmoi" || true
pueue group add "chezmoi" --parallel 8 || true
