#!/bin/bash
# -*- mode: sh; -*-
# {{ $filepath := joinPath .externalDir "Wrap.tar.xz" }}
# {{ include $filepath | sha256sum }}
set -o errexit
set -o nounset
set -o pipefail

mkdir --parents --verbose "$HOME/.local/opt/Wrap"
# shellcheck disable=SC2016
tar --extract --file='{{ $filepath }}' --overwrite --directory="$HOME/.local/opt/Wrap" --strip-components=1 --verbose
