#!/bin/bash
set -o nounset
set -o pipefail

{{ include "other/scripts/init.sh" }}

function group-add() {
  local group=$1
  if ! groups | grep $group >/dev/null; then
    if grep $group /etc/group >/dev/null; then
      run sudo gpasswd --add $USER $group
    fi
  fi
}

group-add docker
group-add vcpkg

loginctl enable-linger $USER
