#!/bin/bash
set -o nounset
set -o pipefail

{{ include "other/scripts/init.sh" }}

USER_SHELL=$(getent passwd $USER | awk --field-separator=":" '{ print $NF }')
if [[ $USER_SHELL != /usr/bin/fish ]]; then
  run chsh --shell /usr/bin/fish
fi

fish "$HOME/.local/chezmoi/install.fish" --noninteractive
fish --command="omf install" --interactive
fish --command="omf update" --interactive
install -D --mode="u=rw,go=r" --no-target-directory --verbose \
  "{{ .chezmoi.sourceDir }}/dot_config/fish/conf.d/omf.fish" \
  "$HOME/.config/fish/conf.d/omf.fish"
