#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

sudo pacman --sync --sysupgrade --refresh --noconfirm
sudo pacman --sync --needed --noconfirm archlinuxcn-keyring

# shellcheck disable=SC2288
"{{.chezmoi.executable}}" execute-template < "{{.chezmoi.sourceDir}}/.external/pkg/pacman.txt.tmpl" |
  sed --expression="s/\s*#.*$//g" --expression="/^$/d" |
  sudo pacman --sync --needed --noconfirm -

sed --expression="s/\s*#.*$//g" --expression="/^$/d" "{{.chezmoi.sourceDir}}/.external/pkg/group.txt" |
  sudo pacman --sync --groups - |
  awk '{ print $2 }' |
  sudo pacman --sync --needed --noconfirm -

# shellcheck disable=SC2288
"{{.chezmoi.executable}}" execute-template < "{{.chezmoi.sourceDir}}/.external/pkg/aur.txt.tmpl" |
  sed --expression="s/\s*#.*$//g" --expression="/^$/d" |
  yay --aur --devel --useask=false --sync --needed --noconfirm -
