#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

pueue reset --force

readarray -t scripts < <(find "$HOME/.local/chezmoi/scripts" -type f)
tmpdir=$(mktemp --directory)
trap 'rm --force --recursive "$tmpdir"' EXIT
for script in "${scripts[@]}"; do
  case $script in
    *.fish) pueue add --group "chezmoi" "fish \"$script\" < /dev/null" ;;
    *.py) pueue add --group "chezmoi" python "$script" ;;
    *.sh) pueue add --group "chezmoi" bash "$script" ;;
  esac
done

pueue wait --group "chezmoi"
