#!/bin/bash
set -o nounset
set -o pipefail

{{ include "other/scripts/init.sh" }}

run dconf load / < "{{ .chezmoi.sourceDir }}/other/dconf.conf"

run gsettings set org.gnome.desktop.session idle-delay 900
run gsettings set org.gnome.mutter experimental-features "['kms-modifiers']"
run gsettings set org.gnome.mutter.keybindings toggle-tiled-left "[]"
run gsettings set org.gnome.mutter.keybindings toggle-tiled-right "[]"
run gsettings set org.gnome.settings-daemon.plugins.power sleep-inactive-ac-timeout 900
run gsettings set org.gnome.settings-daemon.plugins.power sleep-inactive-ac-type nothing
run gsettings set org.gnome.settings-daemon.plugins.power sleep-inactive-battery-timeout 900
run gsettings set org.gnome.settings-daemon.plugins.power sleep-inactive-battery-type suspend

extensions=(
  apps-menu@gnome-shell-extensions.gcampax.github.com
  # auto-move-windows@gnome-shell-extensions.gcampax.github.com
  drive-menu@gnome-shell-extensions.gcampax.github.com
  # launch-new-instance@gnome-shell-extensions.gcampax.github.com
  # native-window-placement@gnome-shell-extensions.gcampax.github.com
  places-menu@gnome-shell-extensions.gcampax.github.com
  # screenshot-window-sizer@gnome-shell-extensions.gcampax.github.com
  # user-theme@gnome-shell-extensions.gcampax.github.com
  # window-list@gnome-shell-extensions.gcampax.github.com
  # windowsNavigator@gnome-shell-extensions.gcampax.github.com
  # workspace-indicator@gnome-shell-extensions.gcampax.github.com

  appindicatorsupport@rgcjonas.gmail.com
  dash-to-dock@micxgx.gmail.com
  # paperwm@paperwm.github.com
  system-monitor-next@paradoxxx.zero.gmail.com
)

for ext in ${extensions[@]}; do
  run gnome-extensions enable $ext
done
