#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

sudo install -D --mode="u=rw,go=r" --no-target-directory --verbose "{{ .chezmoi.sourceDir }}/.ignore/port.conf" /etc/ssh/sshd_config.d/port.conf
sudo systemctl restart sshd.service
