#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

USER_SHELL="$(awk --field-separator : --assign user="${USER}" '$1 == user { print $NF }' /etc/passwd)"
if [[ ${USER_SHELL} != /usr/bin/zsh ]]; then
  run-safe chsh --shell /usr/bin/zsh
fi
