#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

{{ template "load-pnpm.sh" }}

tmp_dir="$(mktemp --directory)"
install_script="${tmp_dir}/pnpm.sh"
wget --output-document "${install_script}" https://get.pnpm.io/install.sh
run-safe bash "${install_script}"
run-safe pnpm env use --global 16
rm --force --recursive --verbose "${tmp_dir}"

pkg_list=(
  @bitwarden/cli
  commitizen
  prettier
  serve
  speedscope
  vercel
)

pkg_list=(${pkg_list[@]/%/"@latest"})

echo "${pkg_list[@]}" |
  xargs --max-args=1 --max-procs=1 --no-run-if-empty --verbose -- pnpm add --global

true
