#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

{{ template "load-local-bin.sh" }}

tmp_dir="$(mktemp --directory)"
install_script="${tmp_dir}/conda.sh"
install_prefix="{{ .chezmoi.homeDir }}/.local/conda"
wget --output-document "${install_script}" https://repo.anaconda.com/miniconda/Miniconda3-py310_23.3.1-0-Linux-x86_64.sh
run-safe bash "${install_script}" -b -f -p "${install_prefix}"
rm --force --recursive --verbose "${tmp_dir}"

{{ template "load-conda.sh" }}

source "${install_prefix}/bin/activate" base

pkg_list=(
  dasel
  direnv
  fzf
  go-shfmt
  hyperfine
  imagemagick
  lazygit
  neovim
  pnpm
  rclone
  ripgrep
  rsync
  starship
  tldr
  zoxide
)

conda install --name=base --channel=conda-forge --update-all --yes "${pkg_list[@]}"

python -m pip install --user --upgrade pipx

pkg_list=(
  black
  httpie
  isort
  poetry
  pre-commit
  pygments
  thu-learn-downloader
  toml-sort
)

echo "${pkg_list[@]}" |
  xargs --max-args=1 --max-procs="$(nproc)" --no-run-if-empty --verbose -- pipx install --force

pipx upgrade-all

true
