#!/usr/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

{{ template "load-local-bin.sh" }}

tmp_dir="$(mktemp --directory)"
install_script="${tmp_dir}/direnv.sh"
wget --output-document "${install_script}" https://direnv.net/install.sh
run-safe env bin_path="{{ .chezmoi.homeDir }}/.local/bin" bash "${install_script}"
rm --force --recursive --verbose "${tmp_dir}"
