# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

name: Restic

services:
  restic:
    command: serve restic tsinghua:/restic --addr ':8080'
    container_name: restic
    image: rclone/rclone:latest
    ports:
      - "{{ .ports.restic }}:8080"
    pull_policy: weekly
    restart: unless-stopped
    volumes:
      - type: bind
        source: "{{ .chezmoi.homeDir }}/.config/rclone/rclone.conf"
        target: /config/rclone/rclone.conf
        read_only: true
        bind:
          create_host_path: false
