# -*- mode: ini; -*-

[daemon]
# ref: <https://wiki.archlinux.org/title/GDM#Automatic_login>
# TODO: Remove this temporary AutomaticLogin workaround and restore the 5-second
# TimedLogin once GDM fixes the "Autologin not permitted for user" regression.
# ref: <https://bugzilla.redhat.com/show_bug.cgi?id=2512697>
AutomaticLogin = {{ .chezmoi.username }}
AutomaticLoginEnable = true
# TimedLogin = {{ .chezmoi.username }}
# TimedLoginDelay = 5
# TimedLoginEnable = true
