#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

sudo flatpak remote-modify flathub --url="{{ .mirrors.flathub }}"

packages=(
  # {{- range .packages.flatpak }}
  '{{ . }}' # {{- end }}
)

sudo flatpak install --assumeyes --or-update "${packages[@]}"
