#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

# {{ template "load-pkg.sh" }}

sudo pacman --sync --refresh --noconfirm
# ref: <https://help.mirrors.cernet.edu.cn/archlinuxcn/>
sudo pacman-key --lsign-key farseerfc@archlinux.org
sudo pacman --sync --needed --noconfirm archlinuxcn-keyring
# ref: <https://help.mirrors.cernet.edu.cn/arch4edu/>
sudo pacman-key --recv-keys 7931B6D628C8D3BA
sudo pacman-key --finger 7931B6D628C8D3BA
sudo pacman-key --lsign-key 7931B6D628C8D3BA

sudo pacman --sync --needed --noconfirm yay
sudo pacman --sync --sysupgrade --refresh --noconfirm

readarray -t REMOVES < <(load-pkg "remove.pacman" "remove.yaml")
remove=()
for pkg in "${REMOVES[@]}"; do
  if yay --query --quiet "$pkg" &> /dev/null; then
    remove+=("$pkg")
  fi
done
if ((${#remove[@]} > 0)); then
  sudo yay --remove --nosave --recursive --unneeded --noconfirm "${remove[@]}"
fi

load-pkg core "core.yaml" |
  sudo pacman --sync --needed --noconfirm -
load-pkg extra "extra.yaml" |
  sudo pacman --sync --needed --noconfirm -
load-pkg archlinuxcn "archlinuxcn.yaml" |
  sudo pacman --sync --needed --noconfirm -
load-pkg arch4edu "arch4edu.yaml" |
  sudo pacman --sync --needed --noconfirm -
load-pkg aur "aur.yaml" |
  (yay --aur --devel --useask=false --sync --needed --noconfirm - || true) # allow AUR to fail

yay --yay --useask=false --clean --nosave --recursive --unneeded --noconfirm
