#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

function check() {
  rclone about "$1:"
}

# TODO: add OneDrive Business
# if check business; then
#   echo "$(tput bold)$(tput setaf 10)Onedrive Business already configured$(tput sgr0)"
# else
#   export RCLONE_ONEDRIVE_CLIENT_ID='{{(rbwFields "Rclone Business").client_id.value}}'
#   export RCLONE_ONEDRIVE_CLIENT_SECRET='{{(rbwFields "Rclone Business").client_secret.value}}'
#   notify-send --transient "Config Onedrive Business ..."
#   rclone config create business onedrive
# fi

# TODO: add OneDrive Personal
# if check personal; then
#   echo "$(tput bold)$(tput setaf 10)Onedrive Personal already configured$(tput sgr0)"
# else
#   export RCLONE_ONEDRIVE_CLIENT_ID='{{(rbwFields "Rclone Personal").client_id.value}}'
#   export RCLONE_ONEDRIVE_CLIENT_SECRET='{{(rbwFields "Rclone Personal").client_secret.value}}'
#   export RCLONE_ONEDRIVE_DRIVE_ID='{{(rbwFields "Rclone Personal").drive_id.value}}'
#   notify-send --transient "Config Onedrive Personal ..."
#   rclone config create personal onedrive config_driveid="$RCLONE_ONEDRIVE_DRIVE_ID"
# fi
