# -*- mode: yaml; -*-
# https://docs.stirlingpdf.com/Advanced%20Configuration/How%20to%20add%20configurations

security:
  enableLogin: true
  initialLogin:
    username: '{{ (rbw "Stirling-PDF").data.username }}'
    password: '{{ (rbw "Stirling-PDF").data.password }}'

system:
  showUpdate: true

ui:
  appName: liblaf's Stirling-PDF
