3dslicer-bin
7-zip-full
aicommits
auth-thu-bin
chatall-bin
clash-premium-bin
cloudflare-warp-bin
dasel-bin
f2-bin
geekbench
git-extras
# gnome-shell-extension-coverflow-alt-tab-git
gnome-shell-extension-dash-to-dock
gnome-shell-extension-paperwm-git
gnome-shell-extension-system-monitor-next-git
meshlab-appimage
micromamba-bin
microsoft-edge-stable-bin
miniconda3
netdata-go-plugins
nodejs-commitizen
noto-fonts-sc
qbittorrent-vuetorrent-bin
scc-bin
typora
vcpkg
ventoy-bin
vercel
visual-studio-code-bin
wemeet-bin
zotero-bin

{{ if .alist -}}
alist-bin
{{- end }}

{{ if .nvidia.install -}}
nvidia-container-toolkit
nvitop
{{- end }}
