archlinuxcn-keyring
bat
bear
biber
bitwarden-cli
blender
btop
chezmoi
clang
cloudflared
cmake
cronie
dhclient
direnv
docker
docker-compose
dog
doxygen
duf
fish
fzf
gdb
gdu
gimp
git
git-delta
github-cli
glances
glow
gnome-shell-extension-appindicator
gnome-shell-extensions
gnome-themes-extra
go
gping
grub
httpie
hyperfine
ibus-libpinyin
imagemagick
intel-compute-runtime # OpenCL
jellyfin-server
jellyfin-web
jq
kitty
lazygit
lf
libva-utils # VA-API
lldb
llvm
lsd
man-db
man-pages
miniserve
neofetch
neovim
netdata
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
noto-fonts-extra
obs-studio
os-prober
pandoc-cli
perl-file-homedir # latexindent
perl-yaml-tiny # latexindent
pnpm
pre-commit
prettier
python-black
python-bottle # glances
python-isort
python-pipx
python-poetry
python-pygments
python-rich # ~/.local/bin/run
qbittorrent-nox
rclone
ripgrep
rsync
rustup
shfmt
sof-firmware # Sound system
starship
telegram-desktop
texlive-doc
tldr
tlp
tmux
trash-cli
ttf-firacode-nerd
ufw
vhs
vlc
yay
zoxide

{{ if .nvidia.install -}}
cuda
libva-vdpau-driver
nvidia
opencl-nvidia
vdpauinfo
{{- end }}
