archlinuxcn-keyring
bat
bear
biber
bitwarden-cli
blender
btop
chezmoi
clang
cloudflared
cmake
cronie
dhclient
direnv
docker
docker-compose
dog
doxygen
duf
fuse2
fzf
gdb
gdu
git
git-delta
github-cli
glow
gnome-shell-extension-appindicator
gnome-shell-extensions
gnome-themes-extra
go
gping
grub
hyperfine
ibus-libpinyin
imagemagick
intel-compute-runtime
jellyfin-server
jellyfin-web
jq
kitty
lazygit
lf
libva-utils
lldb
llvm
lsd
man-db
neofetch
neovim
netdata
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
noto-fonts-extra
obs-studio
os-prober
pandoc-cli
perl-file-homedir {{- /* for latexindent */}}
perl-yaml-tiny {{- /* for latexindent */}}
pnpm
python-pipx
python-rich
qbittorrent-nox
rclone
ripgrep
rsync
rustup
shfmt
sof-firmware
starship
telegram-desktop
texlive-doc
tldr
tlp
tmux
ttf-firacode-nerd
ufw
vhs
vlc
yay
zoxide
zsh

{{if .nvidia.install -}}
cuda
nvidia
nvidia-vaapi-driver-git
opencl-nvidia
vdpauinfo
{{- end}}
