# -*- mode: toml; -*-

["{{ .dirs.relative.external }}/zotero-addons.xpi"]
refreshPeriod = "168h"
type = "file"
url = "https://github.com/syt2/zotero-addons/releases/latest/download/zotero-addons.xpi"
