# {{$server := or (eq .chezmoi.hostname "10700") (eq .chezmoi.hostname "13900HX")}}

sourceDir = "{{.chezmoi.homeDir}}/.local/share/chezmoi/{{.chezmoi.osRelease.id}}"

[data.hardware]
intel = {{default "false" (env "INTEL")}}
nvidia = {{default "false" (env "NVIDIA")}}

[data.mirrors]
anaconda = "https://mirrors.cernet.edu.cn/anaconda"
anaconda_extra = "https://mirrors.cernet.edu.cn/anaconda-extra"
arch4edu = "https://mirrors.cernet.edu.cn/arch4edu/$arch"
archlinux = "https://mirrors.cernet.edu.cn/archlinux/$repo/os/$arch"
archlinuxcn = "https://mirrors.cernet.edu.cn/archlinuxcn/$arch"
bioarchlinux = "https://mirrors.cernet.edu.cn/bioarchlinux/$arch"
crates_io_index = "sparse+https://mirrors.cernet.edu.cn/crates.io-index/"
dockerhub = "https://docker.1panel.live"
ghcr = "ghcr.nju.edu.cn"
nodejs_release = "https://mirrors.cernet.edu.cn/nodejs-release"
npm = "https://registry.npmmirror.com"
pypi = "https://mirrors.cernet.edu.cn/pypi/web/simple"
rustup = "https://mirrors.cernet.edu.cn/rustup"

[data.nvidia]
mobile = {{default "false" (env "NVIDIA_MOBILE")}}

[data.port]
gpt_academic = {{env "PORT_GPT_ACADEMIC"}}
proxy = {{env "PORT_PROXY"}}
ssh = {{env "PORT_SSH"}}
stirling_pdf = {{env "PORT_STIRLING_PDF"}}
webdav = {{env "PORT_WEBDAV"}}

[data.service]
gpt_academic = {{$server}}
stirling_pdf = {{$server}}
webdav = true
