#!/bin/bash

# `yq` does not fully support TOML output at the moment
DATA_FILE="$(chezmoi source-path)/.chezmoidata/hardware.yaml"
if [[ ! -f $DATA_FILE ]]; then touch "$DATA_FILE"; fi
export DATA_FILE
