#!/bin/bash

os_release_id=$(awk -F '=' '$1 == "ID" { print $2 }' "/etc/os-release")
CHEZMOI_SOURCE_DIR="$PWD/$os_release_id"
export CHEZMOI_SOURCE_DIR

# `yq` does not fully support TOML output at the moment
DATA_FILE="$CHEZMOI_SOURCE_DIR/.chezmoidata/generated.json"
if [[ ! -f $DATA_FILE ]]; then echo "{}" > "$DATA_FILE"; fi
export DATA_FILE
