# -*- mode: dockercompose; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

# ref: <https://docs.linuxserver.io/images/docker-qbittorrent/>
# ref: <https://github.com/VueTorrent/VueTorrent/wiki/Installation>

services:
  qbittorrent:
    container_name: qbittorrent
    environment:
      # DOCKER_MODS: ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
      PGID: "{{ .services.gid }}"
      PUID: "{{ .services.qbittorrent.uid }}"
      TORRENTING_PORT: "{{ .services.qbittorrent.torrenting.port }}"
      UMASK: "002"
      WEBUI_PORT: "{{ .services.qbittorrent.webui.port }}"
    image: lscr.io/linuxserver/qbittorrent:latest
    ports:
      - "{{ .services.qbittorrent.torrenting.port }}:{{ .services.qbittorrent.torrenting.port }}/tcp"
      - "{{ .services.qbittorrent.torrenting.port }}:{{ .services.qbittorrent.torrenting.port }}/udp"
      - "{{ .services.qbittorrent.webui.port }}:{{ .services.qbittorrent.webui.port }}"
    pull_policy: weekly
    restart: unless-stopped
    volumes:
      - ./config:/config
      - type: bind
        source: /mnt/PC07sda1/srv/qbittorrent/downloads
        target: /downloads
        bind:
          create_host_path: false

networks:
  default:
    enable_ipv6: true
