#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ include ".snippets/docker.sh" }}
# {{ include ".snippets/service.sh" }}

service-user-add qbittorrent 20811 'qBittorrent'
mkdir --parents --verbose ./config
mkdir --parents --verbose /mnt/PC07sda1/srv/qbittorrent/downloads
sudo chown --changes --recursive qbittorrent:srv ./config
sudo chown --changes --recursive qbittorrent:srv /mnt/PC07sda1/srv/qbittorrent
docker compose up --detach --remove-orphans
