#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ range .packages.pypi }}
# TODO: remove `--python 3.12` when <https://github.com/astral-sh/uv/issues/8229> is resolved
uv tool install --force --python 3.12 "{{ . }}"
# {{ end }}

uv tool install --with cookiecutter --force copier
uv tool upgrade --all

pixi global sync
