# -*- mode: ini; -*-
# https://man.archlinux.org/man/pacman.conf.5

[options]
HoldPkg = glibc pacman
Architecture = auto
Color
CheckSpace
VerbosePkgLists
ParallelDownloads = 8

[core]
Include = /etc/pacman.d/mirrorlist

[extra]
Include = /etc/pacman.d/mirrorlist

[community]
Include = /etc/pacman.d/mirrorlist

[archlinuxcn]
Server = {{.mirrors.archlinuxcn}}

[arch4edu]
Server = {{.mirrors.arch4edu}}

[bioarchlinux]
Server = {{.mirrors.bioarchlinux}}
