# -*- mode: sh; -*-
# shellcheck disable=SC2034,SC2148
# {{ if .hardware.nvidia.exists }}
# https://wiki.archlinux.org/title/NVIDIA#mkinitcpio
MODULES+=(nvidia nvidia_modeset nvidia_uvm nvidia_drm)
# {{ end }}
