#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

uv tool upgrade --all

# {{ range $pkg := .packages.pypi }}
# shellcheck disable=SC2016
uv tool install '{{ $pkg }}'
# {{ end }}
