#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ template "docker.sh" }}
# {{ template "service.sh" . }}

cd "$HOME/srv/openlist"

# {{ if .services.openlist.enable }}

service-user-add 'openlist' '{{ .services.openlist.uid }}' 'OpenList'
mkdir --parents --verbose "$PWD/data"
sudo chown --verbose 'openlist:srv' "$PWD/data"
docker compose up --detach --remove-orphans

# {{ else }}

docker compose down

# {{ end }}
