#!/bin/bash
# vim: syntax=sh
# shellcheck disable=SC2317
set -o errexit
set -o nounset
set -o pipefail

# {{if not .service.webdav}}
exit 0
# {{end}}

mkdir --parents --verbose "$HOME/.config/services/webdav"
htpasswd -c -b "$HOME/.config/services/webdav/htpasswd" '{{(rbw "WebDAV").data.username}}' '{{(rbw "WebDAV").data.password}}'

install -D --mode="u=rw,go=r" --no-target-directory --verbose "/usr/share/applications/seadrive.desktop" "$HOME/.config/autostart/seadrive.desktop"
systemctl --user enable --now rclone-serve-webdav.service
