#!/usr/bin/zsh
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}
{{ template "load-pnpm.sh" }}

if has bw; then
  temp=$(mktemp)
  bw completion --shell zsh > "${temp}"
  run-safe install -D --mode="u=rw,go=r" --no-target-directory --verbose "${temp}" "${HOME}/.zfunc/_bw"
  rm --force --verbose "${temp}"
fi
