# -*- mode: dotenv; -*-
# ref: <https://gitlab.archlinux.org/archlinux/packaging/packages/grub/-/blob/main/grub.default>
# ref: <https://www.gnu.org/software/grub/manual/grub/html_node/Simple-configuration.html>

GRUB_DEFAULT="saved"
GRUB_SAVEDEFAULT=false
GRUB_DISTRIBUTOR="CachyOS"
GRUB_CMDLINE_LINUX=""
GRUB_CMDLINE_LINUX_DEFAULT="zswap.enabled=0"
GRUB_GFXPAYLOAD_LINUX="keep"
GRUB_PRELOAD_MODULES="part_gpt part_msdos"
