# -*- mode: toml; -*-

telegram-bot-token = '{{ (rbwFields "Telegram").DDNS_BOT_TOKEN.value }}'
telegram-chat-id = {{ (rbwFields "Telegram").CHAT_ID.value }}
token = '{{ (rbwFields "Cloudflare").LIBLAF_DDNS_API_TOKEN.value }}'
zone-id = '{{ (rbwFields "Cloudflare").ZONE_ID.value }}'
