[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/ubuntu/.local/chezmoi/alist/alist server
Restart=on-failure
Type=simple
WorkingDirectory=/home/ubuntu/.local/chezmoi/alist

[Unit]
After=network.target
Description=alist
