function pixi --wrap="pixi"
    set --local MIRROR_PYPI '{{ .mirrors.pypi }}'
    set --local GIT_ROOT (git rev-parse --show-toplevel 2> /dev/null || pwd)
    set --local PIXI_LOCK "$GIT_ROOT/pixi.lock"
    command pixi $argv
    if test -f "$PIXI_LOCK"
        # ref: <https://github.com/astral-sh/uv/issues/6349#issuecomment-3076752818>
        sd 'https://(\S+)/packages\b' 'https://files.pythonhosted.org/packages' "$UV_LOCK"
        sd 'https://(\S+)/simple\b' 'https://pypi.org/simple' "$UV_LOCK"
    end
end
