function uv --wrap="uv"
    set --local MIRROR_PYPI '{{ .mirrors.pypi }}'
    set --local GIT_ROOT (git rev-parse --show-toplevel 2> /dev/null || pwd)
    set --local UV_LOCK "$GIT_ROOT/uv.lock"
    command uv $argv
    if test -f "$UV_LOCK"
        # ref: <https://github.com/astral-sh/uv/issues/6349#issuecomment-3076752818>
        sd 'https://(\S+)/simple' 'https://pypi.org/simple' "$UV_LOCK"
        sd 'https://(\S+)/packages' 'https://files.pythonhosted.org/packages' "$UV_LOCK"
    end
end
