#!/usr/bin/zsh
set -o nounset
set -o pipefail

{{include "other/scripts/init.sh"}}
{{include "other/scripts/load-pnpm.sh"}}

if has bw; then
  mkdir --parents --verbose "$HOME/.zfunc"
  bw completion --shell zsh > "$HOME/.zfunc/_bw"
fi
