[data.dirs]
external = "{{ .chezmoi.homeDir }}/.cache/dotfiles/external"
snippets = "{{ .chezmoi.sourceDir }}/.snippets"

[github]
refreshPeriod = "168h"

[hooks.read-source-state.pre]
script = "{{ .chezmoi.workingTree }}/hooks/read-source-state.pre.sh"

[interpreters.fish]
command = "fish"
