[data]
# {{- "\n" -}} {{- dict "server" (eq .chezmoi.hostname "PC07") | toToml }}

[data.dirs]
external = "{{ .chezmoi.homeDir }}/.cache/dotfiles/external"
root = "{{ .chezmoi.homeDir }}/.cache/dotfiles/root"
snippets = "{{ .chezmoi.sourceDir }}/.snippets"

[github]
refreshPeriod = "1h"

[interpreters.fish]
command = "fish"
