# https://github.com/z4yx/GoAuthing/blob/master/docs/goauthing6@.service

[Unit]
Description=Authenticating utility for auth.tsinghua.edu.cn
StartLimitIntervalSec=0

[Service]
# default config is in ~/.auth-thu
ExecStartPre=-/usr/local/bin/auth-thu -D deauth -6
ExecStartPre=-/usr/local/bin/auth-thu -D auth -6
ExecStart=/usr/local/bin/auth-thu -D online -6
Restart=always
RestartSec=5
