# -*- mode: sh; -*-
# shellcheck disable=all
# ref: <file:///usr/lib/netdata/conf.d/health_alarm_notify.conf>

# Configuration for alarm notifications
#
# This configuration is used by: alarm-notify.sh
# changes take effect immediately (the next alarm will use them).
#
# alarm-notify.sh can send:
# - e-mails (using the sendmail command),
# - push notifications to your mobile phone (pushover.net),
# - messages to your slack team (slack.com),
# - messages to your alerta server (alerta.io),
# - messages to your flock team (flock.com),
# - messages to your discord guild (discord.com),
# - messages to your telegram chat / group chat (telegram.org)
# - sms messages to your cell phone or any sms enabled device (twilio.com)
# - sms messages to your cell phone or any sms enabled device (messagebird.com)
# - sms messages to your cell phone or any sms enabled device (smstools3)
# - sms messages to your cell phone or any sms enabled device (SMSEagle)
# - notifications to users on pagerduty.com
# - push notifications to iOS devices (via prowlapp.com)
# - notifications to Amazon SNS topics (aws.amazon.com)
# - messages to your irc channel on your selected network
# - messages to a local or remote syslog daemon
# - message to Microsoft Teams (through webhook)
# - message to Rocket.Chat (through webhook)
# - push notifications to your mobile phone or desktop (ntfy.sh)
#
# The 'to' line given at netdata alarms defines a *role*, so that many
# people can be notified for each role.
#
# This file is a BASH script itself.
#

#------------------------------------------------------------------------------
# proxy configuration
#
# If you need to send curl based notifications (pushover, pushbullet, slack, alerta,
# flock, discord, telegram) via a proxy, set these to your proxy address:
export http_proxy='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'
export https_proxy='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'

#------------------------------------------------------------------------------
# telegram (telegram.org) global notification options

# multiple recipients can be given like this:
#                  "CHAT_ID_1 CHAT_ID_2 ..."
# To send alerts to a specific topic within a chat, use `CHAT_ID:TOPIC_ID`.

# enable/disable sending telegram messages
SEND_TELEGRAM='YES'

# Contact the bot @BotFather to create a new bot and receive a bot token.
# Without it, netdata cannot send telegram messages.
TELEGRAM_BOT_TOKEN='{{ (rbwFields "Telegram").NETDATA_BOT_TOKEN.value }}'

# To get your chat ID send the command /getid to telegram bot @myidbot
# (https://t.me/myidbot). Each user also needs to open a conversation with the
# bot that will be sending notifications.
# If a role's recipients are not configured, a message will be sent to
# this chat id (empty = do not send a notification for unconfigured roles):
DEFAULT_RECIPIENT_TELEGRAM='{{ (rbwFields "Telegram").CHAT_ID.value }}'
