#!/usr/bin/zsh

{{ template "init.sh" }}

if has rclone; then

  function op() {
    local remote="onedrive-personal:"
    local local="${HOME}/Desktop/onedrive-personal"
    env remote="${remote}" local="${local}" bash "${ZSH_CUSTOM}/plugins/rclone/drive.sh" "${@}"
  }

  function ob() {
    local remote="onedrive-business:"
    local local="${HOME}/Desktop/onedrive-business"
    env remote="${remote}" local="${local}" bash "${ZSH_CUSTOM}/plugins/rclone/drive.sh" "${@}"
  }

fi
