#!/usr/bin/zsh

{{ template "init.sh" }}

if [[ ${TERM} == "xterm-kitty" ]]; then
  alias ssh="kitty +kitten ssh"
  if exists magick; then
    alias icat="kitten icat --engine magick"
  else
    alias icat="kitten icat"
  fi
fi

if exists lf; then
  LFCD="/etc/profile.d/lfcd.sh"
  if [[ -f ${LFCD} ]]; then
    source "${LFCD}"
  fi
fi

if exists lsd; then
  alias ls="lsd"
  alias tree="lsd --tree"
fi

if exists moar; then
  alias L="| moar"
  export PAGER="moar"
  export BAT_PAGER="moar --no-linenumbers"
fi

if exists nvim; then
  export EDITOR="nvim"
fi

if exists yay; then
  function y() {
    run yay --devel --nouseask --sync --sysupgrade --refresh --noconfirm "${@}"
  }
fi
