# -*- mode: ini; -*-
# ref: <https://www.comet.com/docs/v2/guides/experiment-management/configure-sdk/#explore-comet-configuration-options>

[comet]
api_key = {{ (rbwFields "Comet").api_key.value }}
workspace = liblaf

system_cpu_interval = 1
system_gpu_interval = 1
system_disk_interval = 1
