#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

sudo systemctl enable --now clash-meta.service
systemctl --user enable --now mihomo-pull.timer

# TODO: enable for central server
systemctl --user disable --now mihomo-push.timer || true
