export http_proxy="http://127.0.0.1:{{.proxy.port}}/"
export https_proxy="http://127.0.0.1:{{.proxy.port}}/"

SEND_TELEGRAM="YES"
TELEGRAM_BOT_TOKEN="{{(bitwardenFields "item" "Telegram").BOT_TOKEN.value}}"
DEFAULT_RECIPIENT_TELEGRAM="{{(bitwardenFields "item" "Telegram").chat_id.value}}"
