["{{ .external_dir_relative }}/Wrap.tar.xz"]
refreshPeriod = "168h"
type = "file"
url = "https://customer.faceform.com/customer/dl/Wrap/Linux"

["{{ .external_dir_relative }}/dict.txt"]
refreshPeriod = "168h"
type = "file"
url = "https://github.com/broly8/libpinyin-dict/raw/master/dict.txt"

["{{ .external_dir_relative }}/grub2-themes"]
exact = true
refreshPeriod = "168h"
stripComponents = 1
type = "archive"
url = "https://github.com/vinceliuice/grub2-themes/archive/refs/heads/master.tar.gz"

["{{ .external_dir_relative }}/zotero-addons.xpi"]
refreshPeriod = "168h"
type = "file"
url = "https://github.com/syt2/zotero-addons/releases/latest/download/zotero-addons.xpi"

["{{ .external_dir_relative }}/netdata-kickstart.sh"]
refreshPeriod = "168h"
type = "file"
url = "https://get.netdata.cloud/kickstart.sh"
executable = true
