#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

# {{ if .service.bitwarden_backup }}
systemctl --user enable --now bitwarden-backup.timer
# {{ else }}
systemctl --user disable --now bitwarden-backup.timer || true
# {{ end }}

# {{ if .service.mlflow }}
systemctl --user enable --now mlflow.service
# {{ else }}
systemctl --user disable --now mlflow.service || true
# {{ end }}

# {{ if .service.webdav }}
mkdir --parents --verbose "$HOME/.config/services/webdav"
htpasswd -c -b "$HOME/.config/services/webdav/htpasswd" \
  '{{ (rbw "WebDAV").data.username }}' \
  '{{ (rbw "WebDAV").data.password }}'
systemctl --user enable --now rclone-webdav.service
# {{ else }}
systemctl --user disable --now rclone-webdav.service || true
# {{ end }}
