# -*- mode: ini; -*-
# https://www.comet.com/docs/v2/guides/experiment-management/configure-sdk/#explore-comet-configuration-options
[comet]
api_key = {{ (rbwFields "Comet.ml").api_key.value }}
workspace = liblaf
