#!/usr/bin/zsh

{{ template "init.sh" }}

if [[ ${TERM} == "xterm-kitty" ]]; then
  alias ssh="kitty +kitten ssh"
  if has magick; then
    alias icat="kitten icat --engine magick"
  else
    alias icat="kitten icat"
  fi
fi

if has bw && has tld; then
  alias tld='tld --password "$(bw get password id.tsinghua.edu.cn)"'
fi

if has code && has zoxide; then
  function ci() {
    local filepath="$(zoxide query --interactive "${@}")"
    if [[ -e ${filepath} ]]; then
      if has direnv; then
        direnv exec "${filepath}" code "${filepath}"
      else
        code "${filepath}"
      fi
    fi
  }
fi

if has lf; then
  LFCD="/etc/profile.d/lfcd.sh"
  if [[ -f ${LFCD} ]]; then
    source "${LFCD}"
  fi
fi

if has lsd; then
  alias ls="lsd"
  alias tree="lsd --tree"
fi

if has make && has color-make; then
  function makec() {
    command make "${@}" 2>&1 | color-make
  }
fi

if has moar; then
  export PAGER="moar --quit-if-one-screen"
  alias L="${PAGER}"
  export BAT_PAGER="${PAGER} --no-linenumbers"
fi

if has nvim; then
  export EDITOR="nvim"
fi

if has pre-commit; then
  alias pre="pre-commit run --all-files"
fi

if has tmux; then
  executables=(
    blender
    cfw
    microsoft-edge-stable
    typora
  )
  for exe in "${executables[@]}"; do
    if has "${exe}"; then
      alias "${exe}"="tmux new-session -d ${exe}"
    fi
  done
fi

if has xdg-open; then
  function open() {
    xdg-open "${@}" &> /dev/null
  }
fi

if has yay; then
  function y() {
    run yay --devel --nouseask --sync --sysupgrade --refresh --noconfirm "${@}"
  }
fi
