#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

if systemd-detect-virt --quiet; then exit; fi

sudo chown --verbose root:netdata '/etc/netdata/claim.conf'
sudo chmod --verbose 'u=rw,g=r,o=' '/etc/netdata/claim.conf'

# {{ include (joinPath .dirs.root "etc/netdata/claim.conf") | sha256sum }}
sudo systemctl --now enable netdata.service
sudo netdatacli reload-claiming-state
