#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

if [[ ":$PATH:" != *":$HOME/.local/bin:"* ]]; then
  export PATH="$HOME/.local/bin:$PATH"
fi

readonly extensions_to_install=(
  BingWallpaper@ineffable-gmail.com
  display-brightness-ddcutil@themightydeity.github.com
)
gext install "${extensions_to_install[@]}"

# {{ include (joinPath .dirs.external "codex-meter@slobbe.github.io.zip") | sha256sum }}
gnome-extensions install --force '{{ .dirs.external }}/codex-meter@slobbe.github.io.zip'

readonly extensions_to_enable=(
  # pre-installed
  drive-menu@gnome-shell-extensions.gcampax.github.com
  screenshot-window-sizer@gnome-shell-extensions.gcampax.github.com

  # system
  appindicatorsupport@rgcjonas.gmail.com
  copyous@boerdereinar.dev
  dash-to-dock@micxgx.gmail.com
  Vitals@CoreCoding.com

  "${extensions_to_install[@]}"

  codex-meter@slobbe.github.io
)
gext enable "${extensions_to_enable[@]}"
