#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

# {{ include (joinPath .dirs.external "codex-meter@slobbe.github.io.zip") | sha256sum }}
gnome-extensions install --force '{{ .dirs.external }}/codex-meter@slobbe.github.io.zip'

gext enable 'codex-meter@slobbe.github.io'

# {{ include (joinPath .dirs.snippets "codex-meter.dconf") | sha256sum }}
dconf load / < "{{ .dirs.snippets }}/codex-meter.dconf"
