#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

if systemd-detect-virt --quiet; then exit; fi

if [[ ! /etc/resolv.conf -ef /run/systemd/resolve/stub-resolv.conf ]]; then
  # ref: <https://tailscale.com/docs/reference/linux-dns#networkmanager--systemd-resolved>
  sudo ln --force --symbolic '/run/systemd/resolve/stub-resolv.conf' '/etc/resolv.conf'
  sudo systemctl restart systemd-resolved.service
  sudo systemctl restart NetworkManager.service
  sudo systemctl try-restart tailscaled.service
fi

sudo systemctl --now enable tailscaled.service

backend_state="$(
  tailscale status --json |
    jq --raw-output '.BackendState'
)"
readonly backend_state

case "$backend_state" in
  'NeedsLogin')
    sudo tailscale up \
      --advertise-tags 'tag:pc' \
      --auth-key '{{ (rbwFields "Tailscale").AUTH_KEY.value }}' \
      --operator "$USER" \
      --reset \
      --ssh
    ;;
  *) ;;
esac

sudo tailscale set \
  --operator "$USER" \
  --ssh

tailscale configure systray --enable-startup freedesktop
