#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

if systemd-detect-virt --quiet; then exit; fi

echo '{{ (rbwFields "GitHub").GH_TOKEN.value }}' |
  gh auth login --git-protocol https --with-token
