#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

readonly INSTALL_DIR="$HOME/.local/opt/Wrap"

rm --force --recursive "$INSTALL_DIR"
mkdir --parents --verbose "$INSTALL_DIR"
# shellcheck disable=SC2016
# {{ include (joinPath .dirs.external "Wrap.tar.xz") | sha256sum }}
tar --extract --file='{{ .dirs.external }}/Wrap.tar.xz' --overwrite --directory="$INSTALL_DIR" --strip-components=1

# {{ include (joinPath .dirs.external "Wrap.ico") | sha256sum }}
readonly ICO_FILE='{{ .dirs.external }}/Wrap.ico'
# ref: <https://imagemagick.org/escape/>
# %h   current image height in pixels
# %s   scene number (from input unless re-assigned)
magick identify -format '%s %h\n' "$ICO_FILE" |
  while read -r scene height; do
    if [[ -z $scene || -z $height ]]; then break; fi
    png_file="$(mktemp --suffix='.png')"
    magick "${ICO_FILE}[${scene}]" "$png_file"
    xdg-icon-resource install --size "$height" "$png_file" 'Faceform-Wrap'
    rm --force "$png_file"
  done
