#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

sudo systemctl --now enable mihomo.service
systemctl --user --now enable mihomo-update.timer

# {{ if .server }}
systemctl --user --now enable sub-store-publish.timer
# {{ else }}
systemctl --user --now disable sub-store-publish.timer
# {{ end }}
