#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

if [[ ! -f "$HOME/.zotero/zotero/profiles.ini" ]]; then exit; fi

profile_name="$(yq '.Profile0.Path' "$HOME/.zotero/zotero/profiles.ini")"
readonly profile_name
readonly profile_path="$HOME/.zotero/zotero/$profile_name"

if [[ -f "$profile_path/extensions/zoteroAddons@ytshen.com.xpi" ]]; then exit; fi

mkdir --parents --verbose "$profile_path/extensions/"
cp --archive --no-target-directory --update --verbose \
  '{{ .dirs.external }}/zotero-addons.xpi' \
  "$profile_path/extensions/zoteroAddons@ytshen.com.xpi"
