#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ include ".snippets/docker.sh" }}
# {{ include ".snippets/service.sh" }}

service-user-add openlist 18453 'OpenList'
mkdir --parents --verbose ./data
sudo chown --changes --recursive openlist:srv ./data
docker compose up --detach --remove-orphans
