3dslicer-bin
auth-thu-bin
bun-bin
cloudflare-warp-bin
dasel-bin
doggo-bin
downgrade
electron22-bin # for piclist-bin
geekbench
git-extras
gnome-shell-extension-dash-to-dock
gnome-shell-extension-vitals
jnv-bin
kalker-bin
meshlab-appimage
micromamba-bin
microsoft-edge-stable-bin
noto-fonts-sc
piclist-bin
qbittorrent-vuetorrent-bin
seadrive-daemon
sing-box-bin
typora
ventoy-bin
visual-studio-code-bin
wemeet-bin
wps-office
zotero-bin

{{if .service.alist}}
alist-bin
{{end}}

{{if .hardware.nvidia}}
nvidia-container-toolkit
{{end}}
