# -*- mode: caddyfile; -*-

{
  http_port {{ .ports.http }}
  https_port {{ .ports.https }}
  # All zones - Zone:Read, DNS:Edit
  acme_dns cloudflare {{ (rbwFields "Cloudflare").CADDY_API_TOKEN.value }}
}

gpt.{{ .chezmoi.hostname }}.liblaf.me {
  reverse_proxy localhost:{{ .ports.gpt_academic }}
}

pdf.{{ .chezmoi.hostname }}.liblaf.me {
  reverse_proxy localhost:{{ .ports.stirling_pdf }}
}

webdav.{{ .chezmoi.hostname }}.liblaf.me {
  reverse_proxy localhost:{{ .ports.webdav }}
}

# {{ if .service.center }}

gpt.liblaf.me {
  reverse_proxy localhost:{{ .ports.gpt_academic }}
}

pdf.liblaf.me {
  reverse_proxy localhost:{{ .ports.stirling_pdf }}
}

webdav.liblaf.me {
  reverse_proxy localhost:{{ .ports.webdav }}
}

# {{ end }}
