#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

sudo install -D --mode="u=rw,go=r" --no-target-directory --verbose \
  "{{ .chezmoi.sourceDir }}/.ignore/etc/systemd/journald.conf" \
  /etc/systemd/journald.conf
