#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "load-local-bin.sh" }}

cd "${HOME}/services"

# AList
config_json="$(pwd)/alist/data/config.json"
if [[ -f ${config_json} ]]; then
  tmp_json=$(mktemp --suffix=".json")
  trap "rm --force --verbose ${tmp_json}" EXIT
  dasel put --file="${config_json}" --out="${tmp_json}" --selector=".site_url" --value="https://alist.liblaf.me"
  sudo install -D --mode="u=rw,go=r" --no-target-directory --verbose "${tmp_json}" "${config_json}"
fi

docker network create main
docker compose pull
docker compose up --detach
