# -*- mode: ini; -*-

[Unit]
Description = Push Mihomo Configuration

[Install]
WantedBy = timers.target

[Timer]
OnCalendar = daily
Persistent = true
