# -*- mode: ini; -*-

[Unit]
Description = Pull Mihomo Configuration

[Install]
WantedBy = timers.target

[Timer]
OnCalendar = daily
Persistent = true
