# -*- mode: toml; -*-
#:schema https://creativeprojects.github.io/resticprofile/jsonschema/config-1.json
[global]
initialize = true
prevent-sleep = true
schedule-defaults = { ignore-on-battery = true, permission = "user" }
scheduler = "systemd"

[default]
run-before = "mountpoint {{.chezmoi.homeDir}}/SeaDrive/"
password-file = "{{.chezmoi.homeDir}}/.config/restic/password.txt"
repository = "{{.chezmoi.homeDir}}/SeaDrive/My Libraries/restic/{{.chezmoi.hostname}}/"

[default.backup]
check-after = true
check-before = true
schedule = "hourly"
source = ["{{.chezmoi.homeDir}}/data/"]
source-relative = true

[default.forget]
schedule = "weekly"
keep-daily = 30
keep-hourly = 24
keep-monthly = 6
keep-tag = ["archive"]
keep-weekly = 4
keep-yearly = 3
prune = true
