# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

# ref: <https://forgejo.org/docs/v15.0/admin/config-cheat-sheet/>
# ref: <https://forgejo.org/docs/v15.0/admin/installation/docker/>
# ref: <https://forgejo.org/docs/v15.0/admin/setup/recommendations/>

services:
  forgejo:
    container_name: forgejo
    environment:
      USER_GID: "{{ .services.gid }}"
      USER_UID: "{{ .services.forgejo.uid }}"
      FORGEJO____APP_NAME: Forgejo
      FORGEJO____APP_SLOGAN: Beyond coding. We forge.
      FORGEJO__repository__ROOT: /data/git/repositories
      FORGEJO__repository__ENABLE_PUSH_CREATE_USER: true
      FORGEJO__repository.signing__DEFAULT_TRUST_MODEL: committer
      FORGEJO__server__DOMAIN: forgejo.liblaf.me
      FORGEJO__server__ROOT_URL: https://forgejo.liblaf.me:{{ .services.caddy.https.port }}/
      FORGEJO__server__LFS_START_SERVER: true
      FORGEJO__database__DB_TYPE: sqlite3
      FORGEJO__cache__ADAPTER: twoqueue
      FORGEJO__cache__HOST: |-
        {"size":100, "recent_ratio":0.25, "ghost_ratio":0.5}
      FORGEJO__cron.git_gc_repos__ENABLED: true
      FORGEJO__cron.git_gc_repos__TIMEOUT: 10m
      FORGEJO__cron.gc_lfs__ENABLED: false
      FORGEJO__lfs__PATH: /data/git/lfs
      FORGEJO__actions__ENABLED: false
    image: codeberg.org/forgejo/forgejo:15
    ports:
      - "{{ .services.forgejo.ssh.port }}:22"
      - "{{ .services.forgejo.http.port }}:3000"
    pull_policy: weekly
    restart: unless-stopped
    volumes:
      - ./data:/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - type: volume
        source: lfs
        target: /data/git/lfs
        volume:
          nocopy: true

networks:
  default:
    enable_ipv6: true

volumes:
  lfs:
    driver: local
    driver_opts:
      device: //{{ (rbwFields "DATA41").IP.value }}/Users/{{ (rbw "DATA41").data.username }}/srv/forgejo/git/lfs
      o: noatime,nodev,noexec,_netdev,nosuid,rw,username={{ (rbw "DATA41").data.username }},password={{ (rbw "DATA41").data.password }},uid={{ .services.forgejo.uid }},gid={{ .services.gid }},file_mode=0640,dir_mode=0750,seal
      type: cifs
