#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ include ".snippets/docker.sh" }}
# {{ include ".snippets/service.sh" }}

service-user-add forgejo 17084 'Forgejo'
mkdir --parents --verbose ./data
sudo chown --verbose forgejo:srv ./data
docker compose up --detach --remove-orphans
