#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ include ".snippets/docker.sh" }}
# {{ includeTemplate "service.sh" . }}

# {{ if .services.forgejo.enable }}

service-user-add forgejo '{{ .services.forgejo.uid }}' 'Forgejo'
mkdir --parents --verbose ./data
sudo chown --verbose forgejo:srv ./data
docker compose up --detach --remove-orphans

# {{ else }}

docker compose down

# {{ end }}
