# https://github.com/z4yx/GoAuthing/blob/master/docs/goauthing@.service

[Unit]
Description=Authenticating utility for auth.tsinghua.edu.cn
StartLimitIntervalSec=0

[Service]
ExecStartPre=-auth-thu -D deauth
ExecStartPre=-auth-thu -D auth
ExecStartPre=-auth-thu -D login
ExecStart=auth-thu -D online
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
