#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

# {{- template "yay.sh" -}}
# {{- template "uv.sh" }}
yay-install geoipupdate
bun add --global gh-pages
uv tool install --force "liblaf-kiwi[all]"

systemctl --user enable --now ufw-logs-upload.timer

# {{- if .service.ufw_geomap }}
systemctl --user enable --now ufw-geomap-publish.timer
# {{- else }}
systemctl --user disable --now ufw-geomap-publish.timer || true
# {{- end }}
