#!/bin/bash
# -*- mode: sh; -*-
# shellcheck disable=SC2317
set -o errexit
set -o nounset
set -o pipefail

if systemd-detect-virt --quiet; then exit; fi

# {{- template "yay.sh" -}}
install=(
  netdata
)
yay-install "${install[@]}"

# TODO: Netdata is using a lot of CPU, so we need to disable it for now
sudo systemctl disable --now netdata.service
exit

sudo systemctl enable --now netdata.service

sudo "{{ .external_dir }}/netdata-kickstart.sh" \
  --non-interactive --stable-channel --disable-telemetry \
  --claim-token '{{ (rbwFields "Netdata").CLAIM_TOKEN.value }}' \
  --claim-rooms '{{ (rbwFields "Netdata").ROOM_ID.value }}' \
  --claim-url "https://app.netdata.cloud" \
  --claim-only
