#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

rclone config create dvc webdav \
  url='{{ (index (rbw "DVC").data.uris 0).uri }}' \
  vendor='rclone' \
  user='{{ (rbw "DVC").data.username }}' \
  pass='{{ (rbw "DVC").data.password }}'

rclone config create GJM-AList webdav \
  url='{{ (index (rbw "GJMs AList").data.uris 0).uri }}/dav/' \
  vendor='other' \
  user='{{ (rbw "GJMs AList").data.username }}' \
  pass='{{ (rbw "GJMs AList").data.password }}'

rclone config create tsinghua seafile \
  url='https://cloud.tsinghua.edu.cn' \
  user='{{ (rbw "清华大学云盘").data.username }}' \
  auth_token='{{ (rbwFields "清华大学云盘").token.value }}'
