#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

# {{- template "yay.sh" -}}
install=(
  noto-fonts
  noto-fonts-cjk
  noto-fonts-emoji
  noto-fonts-extra
  otf-monaspace-nerd
  ttf-cascadia-code-nerd
  ttf-mona-sans
)
yay-install "${install[@]}"

fc-cache --force --verbose
