#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ template "group-add.sh" }}
group-add docker # ref: <https://wiki.archlinux.org/title/Docker#Installation>

sudo systemctl enable --now docker.service
