#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# shellcheck disable=SC2016
yq eval-all '. as $item ireduce ({}; . * $item )' \
  --input-format toml \
  --output-format toml \
  <(starship preset bracketed-segments) \
  <(starship preset nerd-font-symbols) \
  <(
    cat << 'EOF'
{{ includeTemplate "starship.toml" }}
EOF
  ) \
  <(
    cat << 'EOF'
{{ includeTemplate "starship.remote.toml" }}
EOF
  )
