#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ template "docker.sh" }}

cd "$HOME/srv/qbittorrent"

# {{ if .services.qbittorrent }}

mkdir --parents --verbose "$PWD/config"
mkdir --parents --verbose "$PWD/downloads"
sudo chown --verbose '{{ .services.uid }}:{{ .services.gid }}' "$PWD/config"
sudo chown --verbose '{{ .services.uid }}:{{ .services.gid }}' "$PWD/downloads"
docker compose up --detach --remove-orphans

# {{ else }}

docker compose down

# {{ end }}
