# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

# ref: <https://github.com/linuxserver/docker-qbittorrent>
# ref: <https://github.com/VueTorrent/VueTorrent/wiki/Installation>

services:
  qbittorrent:
    container_name: qbittorrent
    environment:
      DOCKER_MODS: ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
      PGID: "{{ .services.gid }}"
      PUID: "{{ .services.uid }}"
      TORRENTING_PORT: "{{ .ports.qbittorrent }}"
      WEBUI_PORT: "{{ .ports.qbittorrent_webui }}"
    image: lscr.io/linuxserver/qbittorrent:latest
    network_mode: host # IPv6
    pull_policy: weekly
    restart: unless-stopped
    user: "{{ .services.uid }}:{{ .services.gid }}"
    volumes:
      - ./config:/config
      - ./downloads:/downloads
