#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ includeTemplate "docker.sh" }}
# {{ includeTemplate "service.sh" . }}

# {{ if .services.qbittorrent.enable }}

service-user-add 'qbittorrent' '{{ .services.qbittorrent.uid }}' 'qBittorrent'
mkdir --parents --verbose './config'
mkdir --parents --verbose './downloads'
sudo chown --verbose 'qbittorrent:srv' './config'
sudo chown --verbose 'qbittorrent:srv' './downloads'
docker compose up --detach --remove-orphans

# {{ else }}

docker compose down

# {{ end }}
