#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

if systemd-detect-virt --quiet; then
  screen="1080p"
else
  screen="4k"
fi

cd '{{ joinPath .externalDir "grub2-themes" }}'
sudo ./install.sh --screen "$screen" --boot
