#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

systemctl --user enable --now goauthing.service
systemctl --user enable --now goauthing6.service
systemctl --user enable --now rclone-mount@tsinghua.service
