# -*- mode: dotenv; -*-
HTTP_PORT='{{ .ports.http }}'
HTTPS_PORT='{{ .ports.https }}'

CLOUDFLARE_API_TOKEN='{{ (rbwFields "Cloudflare").CADDY_API_TOKEN.value }}'

BASE_DOMAIN='{{ .ddns.base_domain }}'

DVC_PORT='{{ .ports.dvc }}'
DVC_USERNAME='{{ (rbw "DVC").data.username }}'
DVC_HASHED_PASSWORD='{{ template "caddy-hash-password.tmpl" (rbw "DVC").data.password }}'

GPT_ACADEMIC_PORT='{{ .ports.gpt_academic }}'

MLFLOW_PORT='{{ .ports.mlflow }}'

STIRLING_PDF_PORT='{{ .ports.stirling_pdf }}'

WEBDAV_PORT='{{ .ports.webdav }}'
WEBDAV_USERNAME='{{ (rbw "WebDAV").data.username }}'
WEBDAV_HASHED_PASSWORD='{{ template "caddy-hash-password.tmpl" (rbw "WebDAV").data.password }}'
