# -*- mode: dotenv; -*-
HTTP_PORT='{{ .port.http }}'
HTTPS_PORT='{{ .port.https }}'

CLOUDFLARE_API_TOKEN='{{ (rbwFields "Cloudflare").CADDY_API_TOKEN.value }}'

BASE_DOMAIN='{{ .ddns.base_domain }}'

GPT_ACADEMIC_PORT='{{ .port.gpt_academic }}'

MLFLOW_PORT='{{ .port.mlflow }}'

RESTIC_PORT='{{ .port.restic }}'
RESTIC_USERNAME='{{ (rbw "Restic").data.username }}'
RESTIC_HASHED_PASSWORD='{{ template "caddy-hash-password.tmpl" (rbw "Restic").data.password }}'

STIRLING_PDF_PORT='{{ .port.stirling_pdf }}'

WEBDAV_PORT='{{ .port.webdav }}'
WEBDAV_USERNAME='{{ (rbw "WebDAV").data.username }}'
WEBDAV_HASHED_PASSWORD='{{ template "caddy-hash-password.tmpl" (rbw "WebDAV").data.password }}'
