#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# shellcheck disable=SC2016
yq eval-all '. as $item ireduce ({}; . * $item )' \
  '/usr/share/doc/ov/ov-less.yaml' \
  <(printf '%s' '{{ (includeTemplate "ov-config.yaml") }}')
