# vim: syntax=dotenv
# https://wiki.archlinux.org/title/Hardware_video_acceleration
# {{if .hardware.nvidia.exists}}
# LIBVA_DRIVER_NAME=vdpau
VDPAU_DRIVER=nvidia
# {{else if .hardware.intel.exists}}
LIBVA_DRIVER_NAME=iHD
VDPAU_DRIVER=va_gl
# {{end}}
