# https://wiki.archlinux.org/title/Hardware_video_acceleration
{{if .nvidia.install -}}
LIBVA_DRIVER_NAME=vdpau
VDPAU_DRIVER=nvidia
{{- else if .intel -}}
LIBVA_DRIVER_NAME=iHD
VDPAU_DRIVER=va_gl
{{- end}}
