# -*- mode: dotenv; -*-
# ref: <https://gitlab.archlinux.org/archlinux/packaging/packages/grub/-/blob/main/grub.default>
# ref: <https://www.gnu.org/software/grub/manual/grub/html_node/Simple-configuration.html>

GRUB_DEFAULT="saved"
GRUB_SAVEDEFAULT=true
GRUB_DISTRIBUTOR="Arch"
# {{ if (eq .chezmoi.hostname "13900HX") }}
# ref: <https://bbs.archlinux.org/viewtopic.php?pid=2232813#p2232813>
GRUB_CMDLINE_LINUX_DEFAULT="pcie_aspm=off"
# {{ else }}
GRUB_CMDLINE_LINUX_DEFAULT=""
# {{ end }}
GRUB_DISABLE_RECOVERY=true
GRUB_GFXMODE="auto"
GRUB_GFXPAYLOAD_LINUX="keep"
GRUB_DISABLE_OS_PROBER=false
# GRUB_DISABLE_SUBMENU=true
GRUB_PRELOAD_MODULES="part_gpt part_msdos"
