#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

sudo flatpak remote-modify flathub --url='{{ .mirrors.flathub }}'

readarray -t packages << 'EOF'
{{ join "\n" .packages.flatpak }}
EOF

if ((${#packages[@]} > 0)); then
  sudo flatpak install --assumeyes "${packages[@]}"
fi
