#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

dconf load / << 'EOF'
{{ includeTemplate "dconf.dconf" }}
EOF

function default-network-interface() {
  nmcli --fields 'DEVICE,TYPE,STATE' --terse device status |
    awk -F ':' '$3 == "connected" && ($2 == "ethernet" || $2 == "wifi") { print $1; exit }'
}

function gvariant-strv() {
  python3 - "$@" << 'PY'
import sys
print(sys.argv[1:])
PY
}

hot_sensors=(
  '__temperature_max__'
  '_memory_usage_'
  '_processor_usage_'
  '__network-rx_max__'
  '__network-tx_max__'
  '_network_public_ip_'
)
# {{- if .hardware.nvidia.exists }}
hot_sensors+=(
  '_gpu#1_utilization_'
)
# {{- end }}
gsettings set org.gnome.shell.extensions.vitals hot-sensors \
  "$(gvariant-strv "${hot_sensors[@]}")"
