#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

if [[ ":$PATH:" != *":$HOME/.local/bin:"* ]]; then
  export PATH="$HOME/.local/bin:$PATH"
fi

extensions=(
  # pre-installed
  drive-menu@gnome-shell-extensions.gcampax.github.com
  screenshot-window-sizer@gnome-shell-extensions.gcampax.github.com

  # system
  appindicatorsupport@rgcjonas.gmail.com
  BingWallpaper@ineffable-gmail.com
  dash-to-dock@micxgx.gmail.com
  display-brightness-ddcutil@themightydeity.github.com
  power-profile-switcher@eliapasquali.github.io
  Vitals@CoreCoding.com
)
gext enable "${extensions[@]}"

dconf load / < '{{ joinPath .dirs.abs.external "dconf.ini" }}'

function default-network-interface() {
  nmcli --fields 'DEVICE,TYPE,STATE' --terse device status |
    awk -F ':' '$3 == "connected" && ($2 == "ethernet" || $2 == "wifi") { print $1; exit }'
}

function gvariant-strv() {
  python3 - "$@" << 'PY'
import sys
print(sys.argv[1:])
PY
}

hot_sensors=(
  '__temperature_max__'
  '_memory_usage_'
  '_processor_usage_'
)
network_interface="$(default-network-interface)"
if [[ -n $network_interface ]]; then
  hot_sensors+=(
    "_network-rx_${network_interface}_rx_"
    "_network-tx_${network_interface}_tx_"
  )
else
  hot_sensors+=(
    '__network-rx_max__'
    '__network-tx_max__'
  )
fi
# {{- if .hardware.nvidia.exists }}
hot_sensors+=(
  '_gpu#1_utilization_'
  '_gpu#1_memory_usage_'
)
# {{- end }}
gsettings set org.gnome.shell.extensions.vitals hot-sensors \
  "$(gvariant-strv "${hot_sensors[@]}")"
