#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

if [[ ":$PATH:" != *":$HOME/.local/bin:"* ]]; then
  export PATH="$HOME/.local/bin:$PATH"
fi

to_install=(
  codexbar@inled.es
)
gext install "${to_install[@]}"

to_enable=(
  # pre-installed
  drive-menu@gnome-shell-extensions.gcampax.github.com
  screenshot-window-sizer@gnome-shell-extensions.gcampax.github.com

  # system
  appindicatorsupport@rgcjonas.gmail.com
  BingWallpaper@ineffable-gmail.com
  copyous@boerdereinar.dev
  dash-to-dock@micxgx.gmail.com
  display-brightness-ddcutil@themightydeity.github.com
  Vitals@CoreCoding.com

  "${to_install[@]}"
)
gext enable "${to_enable[@]}"

dconf load / < '{{ joinPath .dirs.abs.external "dconf.ini" }}'

function default-network-interface() {
  nmcli --fields 'DEVICE,TYPE,STATE' --terse device status |
    awk -F ':' '$3 == "connected" && ($2 == "ethernet" || $2 == "wifi") { print $1; exit }'
}

function gvariant-strv() {
  python3 - "$@" << 'PY'
import sys
print(sys.argv[1:])
PY
}

hot_sensors=(
  '__temperature_max__'
  '_memory_usage_'
  '_processor_usage_'
  '__network-rx_max__'
  '__network-tx_max__'
  '_network_public_ip_'
)
# {{- if .hardware.nvidia.exists }}
hot_sensors+=(
  '_gpu#1_utilization_'
)
# {{- end }}
gsettings set org.gnome.shell.extensions.vitals hot-sensors \
  "$(gvariant-strv "${hot_sensors[@]}")"
