# vim: syntax=caddyfile
{
  http_port {{.port.http}}
  https_port {{.port.https}}
  acme_dns cloudflare {{(rbwFields "Cloudflare").token.value}}
}

gpt.{{.chezmoi.hostname}}.liblaf.me {
  reverse_proxy localhost:{{.port.gpt_academic}}
}

pdf.{{.chezmoi.hostname}}.liblaf.me {
  reverse_proxy localhost:{{.port.stirling_pdf}}
}

webdav.{{.chezmoi.hostname}}.liblaf.me {
  reverse_proxy localhost:{{.port.webdav}}
}

# {{if .service.center}}

gpt.liblaf.me {
  reverse_proxy localhost:{{.port.gpt_academic}}
}

pdf.liblaf.me {
  reverse_proxy localhost:{{.port.stirling_pdf}}
}

webdav.liblaf.me {
  reverse_proxy localhost:{{.port.webdav}}
}

# {{end}}
