# -*- mode: ini; -*-
# ref: <https://github.com/archlinuxcn/mirrorlist-repo/blob/master/archlinuxcn-mirrorlist>

## CERNET
Server = https://mirrors.cernet.edu.cn/archlinuxcn/$arch
Server = https://mirrors.tuna.tsinghua.edu.cn/archlinuxcn/$arch
Server = https://mirrors.bfsu.edu.cn/archlinuxcn/$arch
Server = https://mirrors.ustc.edu.cn/archlinuxcn/$arch
Server = https://mirror.nju.edu.cn/archlinuxcn/$arch

## China
Server = https://mirrors.aliyun.com/archlinuxcn/$arch
Server = https://mirrors.tencent.com/archlinuxcn/$arch

## Main Server
Server = https://repo.archlinuxcn.org/$arch
