#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{- template "yay.sh" -}}

install=(
  linux-cachyos-lts-lto
  linux-cachyos-lts-lto-headers
)
yay-install "${install[@]}"
