#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{- template "yay.sh" -}}

install=(
  # {{- range .packages.pacman }}
  '{{ . }}' # {{- end }}
)
# shellcheck disable=SC2207
install+=($(yay --sync --groups --quiet texlive))
yay-install "${install[@]}"

yay --yay --clean --noconfirm --nosave --recursive --unneeded
