# ref: <https://github.com/systemd/systemd/blob/4925d9f07fc697efccd98a93046ff535b8832445/NEWS#L1981>
# ref: <https://wiki.archlinux.org/title/Keyboard_input#Configuration_of_VIA_compatible_keyboards>
ACTION!="remove", SUBSYSTEM=="hidraw", TAG+="uaccess"
