# -*- mode: python; -*-
# https://github.com/binary-husky/gpt_academic/blob/master/config.py


DASHSCOPE_API_KEY: str = '{{ (rbwFields "Aliyun").GPT_ACADEMIC_API_KEY.value }}'
DEEPSEEK_API_KEY: str = '{{ (rbwFields "DeepSeek").GPT_ACADEMIC_API_KEY.value }}'
USE_PROXY: bool = True
if USE_PROXY:
    proxies: dict[str, str] = {
        "http": "http://172.17.0.1:{{ .port.proxy }}",
        "https": "http://172.17.0.1:{{ .port.proxy }}",
    }
LLM_MODEL: str = "deepseek-reasoner"
DEFAULT_WORKER_NUM: int = 16
WEB_PORT = int("{{ .port.gpt_academic }}")
ADD_WAIFU: bool = True
AUTHENTICATION: list[tuple[str, str]] = [
    (
        '{{ (rbw "GPT Academic").data.username }}',
        '{{ (rbw "GPT Academic").data.password }}',
    )
]
