#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ includeTemplate "apply.sh" }}
apply-root 'etc/pacman.conf' '/etc/pacman.conf'

function setup-mirrors() {
  local -r repo="$1"
  local -r mirrorlist="/etc/pacman.d/$repo-mirrorlist"
  if [[ -f $mirrorlist ]]; then return; fi
  local -r RATE_MIRRORS_SAVE="$(mktemp)"
  export RATE_MIRRORS_SAVE
  rate-mirrors "$repo"
  sudo install --backup='simple' --mode='u=rw,go=r' --suffix='-backup' \
    "$RATE_MIRRORS_SAVE" "$mirrorlist"
  rm --force "$RATE_MIRRORS_SAVE"
}
setup-mirrors 'arch4edu'
setup-mirrors 'archlinuxcn'

# {{ includeTemplate "paru.sh" }}

sudo pacman-key --init

# ref: <https://github.com/arch4edu/arch4edu/wiki/Add-arch4edu-to-your-Archlinux>
sudo pacman-key --recv-keys 7931B6D628C8D3BA
sudo pacman-key --finger 7931B6D628C8D3BA
sudo pacman-key --lsign-key 7931B6D628C8D3BA

# remove `lib32-*` packages
installed="$(paru --query --explicit --quiet)"
if echo "$installed" | grep --quiet '^lib32-'; then
  readarray -t packages < <(echo "$installed" | grep '^lib32-')
  paru-remove "${packages[@]}"
fi

paru --sync --noconfirm --sysupgrade --refresh

packages=(arch4edu-keyring archlinuxcn-keyring paru)
paru-install "${packages[@]}"

# {{ if .packages.arch }}
packages=(
  # {{ "\n" }} {{ join "\n" .packages.arch }}
)
paru-install "${packages[@]}"
# {{ end }}
