# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

services:
  jellyfin:
    container_name: jellyfin
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      PGID: "{{ .services.gid }}"
      PUID: "{{ .services.uid }}"
    image: lscr.io/linuxserver/jellyfin:latest
    ports:
      - "{{ .ports.jellyfin }}:8096"
    pull_policy: weekly
    restart: unless-stopped
    runtime: nvidia
    user: "{{ .services.uid }}:{{ .services.gid }}"
    volumes:
      - type: bind
        source: ./config
        target: /config
        bind:
          create_host_path: false
      - type: bind
        source: "{{ .chezmoi.homeDir }}/srv/qbittorrent/downloads"
        target: /data/qbittorrent
        read_only: true
        bind:
          create_host_path: false
