# -*- mode: toml; -*-
#:schema https://mise.jdx.dev/schema/mise.json

[settings]
default_config_filename = ".config/mise/config.toml"  # only works when set as env var
env = ["bench", "dev", "docs", "test"]  # only works when set as env var
experimental = true
go_download_mirror = "{{ .mirrors.golang }}"
idiomatic_version_file_enable_tools = []
ignored_config_paths = ["~/mnt/"]
trusted_config_paths = [
  "~/.local/share/chezmoi/",
  "~/github/liblaf/",
  "~/secrets/",
]

[settings.node]
mirror_url = "{{ .mirrors.nodejs_release }}"

[settings.npm]
bun = true

[settings.pipx]
registry_url = "{{ .mirrors.pypi }}/{}/json"
uvx = true

[settings.python]
uv_venv_auto = true
uv_venv_create_args = ["--system-site-packages"]

[settings.sops]
age_key_file = "~/.config/sops/age/keys.txt"
age_recipients = "{{ .chezmoi.config.age.recipient }}"

[settings.status]
missing_tools = "always"
show_env = true
show_tools = true
truncate = false
