# -*- mode: ini; -*-

[Unit]
JobTimeoutSec = 3 seconds

[Mount]
What = /dev/disk/by-uuid/fa458e41-2a19-4808-98ef-2e84f19c9a41
Where = /home/liblaf/Projects
Type = xfs
Options = noatime,nodev,nosuid,rw
