# -*- mode: caddyfile; -*-
{
	http_port {$HTTP_PORT}
	https_port {$HTTPS_PORT}
	# All zones - Zone:Read, DNS:Edit
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

jellyfin.{$BASE_DOMAIN} {
	reverse_proxy localhost:{$JELLYFIN_PORT}
}

oplist.{$BASE_DOMAIN} {
	reverse_proxy localhost:{$OPEN_LIST_PORT}
}

qbt.{$BASE_DOMAIN} {
	reverse_proxy localhost:{$QBITTORRENT_PORT}
}
