# -*- mode: dotenv; -*-

HTTP_PORT='{{ .ports.http }}'
HTTPS_PORT='{{ .ports.https }}'

CLOUDFLARE_API_TOKEN='{{ (rbwFields "Cloudflare").CADDY_API_TOKEN.value }}'

BASE_DOMAIN='{{ .baseDomain }}'

DVC_PORT='{{ .ports.dvc }}'
DVC_USERNAME='{{ (rbw "DVC").data.username }}'
DVC_HASHED_PASSWORD='{{ (rbw "DVC").data.password | bcrypt }}'

WEBDAV_PORT='{{ .ports.webdav }}'
WEBDAV_USERNAME='{{ (rbw "WebDAV").data.username }}'
WEBDAV_HASHED_PASSWORD='{{ (rbw "WebDAV").data.password | bcrypt }}'
