# -*- mode: sh; -*-
# shellcheck disable=SC2034,SC2148
export http_proxy="http://127.0.0.1:{{.port.proxy}}"
export https_proxy="http://127.0.0.1:{{.port.proxy}}"

SEND_TELEGRAM="YES"
TELEGRAM_BOT_TOKEN='{{ (rbwFields "Telegram").NETDATA_BOT_TOKEN.value }}'
DEFAULT_RECIPIENT_TELEGRAM='{{ (rbwFields "Telegram").chat_id.value }}'
