# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

name: DVC

services:
  dvc:
    command: serve webdav tsinghua:/dvc --addr ":8080"
    container_name: dvc
    image: rclone/rclone:latest
    ports:
      - "{{ .port.dvc }}:8080"
    pull_policy: daily
    user: "{{ .chezmoi.uid }}:{{ .chezmoi.gid }}"
    volumes:
      - type: bind
        source: "{{ .chezmoi.homeDir }}/.config/rclone/rclone.conf"
        target: /config/rclone/rclone.conf
        read_only: true
        bind:
          create_host_path: false
