connShowProcess: true
hideAfterStartup: true
hideTrayIcon: false
latencyUrl: https://ip.sb
profileParsersText: |-
  parsers:
    - reg: .*
      file: {{ .chezmoi.homeDir }}/.config/clash/parser.js
proxyOrder: 1
randomControllerPort: true
randomMixedPort: true
runTimeFormat: "hh : mm : ss"
showNewVersionIcon: true
showTrayProxyDelayIndicator: true
systemTheme: true
trayOrders:
  - - icon
  - - status
    - traffic
    - text
