# -*- mode: toml; -*-
# ref: <https://help.mirrors.cernet.edu.cn/crates.io-index>

[build]
rustc-wrapper = "sccache"

[source.crates-io]
replace-with = "mirror"

[source.mirror]
registry = "sparse+{{ .mirrors.crates_io_index }}/"

[registries.mirror]
index = "sparse+{{ .mirrors.crates_io_index }}/"
