{{- /* -*- mode: gotmpl; -*- */ -}}
{{- if lookPath "caddy" -}}
{{- output "caddy" "hash-password" "--plaintext" . | trim -}}
{{- else if lookPath "mkpasswd" -}}
{{- output "mkpasswd" "--method=bcrypt" . | trim -}}
{{- fail "Could not find 'caddy' or 'mkpasswd'" -}}
{{- end -}}
