# -*- mode: toml; -*-
#:schema https://json.schemastore.org/uv.json
# ref: <https://docs.astral.sh/uv/reference/settings/>

python-install-mirror = "{{ .mirrors.python_build_standalone }}"

[[index]]
name = "mirror"
url = "{{ .mirrors.pypi }}/simple"
default = true

[pip]
index-url = "{{ .mirrors.pypi }}/simple"
