# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

# ref: <https://github.com/linuxserver/docker-qbittorrent>
# ref: <https://github.com/VueTorrent/VueTorrent/wiki/Installation>

services:
  qbittorrent:
    container_name: qbittorrent
    environment:
      DOCKER_MODS: ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest
      PGID: "{{ .services.qbittorrent.uid }}"
      PUID: "{{ .services.gid }}"
      UMASK: "002"
      TORRENTING_PORT: "{{ .services.qbittorrent.port }}"
      WEBUI_PORT: "{{ .services.qbittorrent_webui.port }}"
    image: lscr.io/linuxserver/qbittorrent:latest
    network_mode: host # I'm too lazy to configure IPv6
    pull_policy: weekly
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./config
        target: /config
        bind:
          create_host_path: false
      - type: bind
        source: ./downloads
        target: /downloads
        bind:
          create_host_path: false
