# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

name: DVC

services:
  dvc:
    command: serve sftp /data --addr ':2022'
    container_name: dvc
    image: rclone/rclone:latest
    ports:
      - "{{ .ports.dvc }}:2022"
    pull_policy: weekly
    restart: unless-stopped
    user: "{{ .services.uid }}:{{ .services.gid }}"
    volumes:
      - ./data:/data
      - "{{ .chezmoi.homeDir }}/.ssh/authorized_keys:/root/.ssh/authorized_keys"
