# -*- mode: dotenv; -*-
HTTP_PORT='{{ .ports.http }}'
HTTPS_PORT='{{ .ports.https }}'

CLOUDFLARE_API_TOKEN='{{ (rbwFields "Cloudflare").CADDY_API_TOKEN.value }}'

BASE_DOMAIN='{{ .ddns.base_domain }}'
HOSTNAME='{{ .chezmoi.hostname | lower }}'

GPT_ACADEMIC_PORT='{{ .ports.gpt_academic }}'
MLFLOW_PORT='{{ .ports.mlflow }}'
STIRLING_PDF_PORT='{{ .ports.stirling_pdf }}'
WEBDAV_PORT='{{ .ports.webdav }}'
