# -*- mode: dotenv; -*-
HTTP_PORT='{{ .port.http }}'
HTTPS_PORT='{{ .port.https }}'

CLOUDFLARE_API_TOKEN='{{ (rbwFields "Cloudflare").CADDY_API_TOKEN.value }}'

BASE_DOMAIN='{{ .ddns.base_domain }}'
HOSTNAME='{{ .chezmoi.hostname | lower }}'

GPT_ACADEMIC_PORT='{{ .port.gpt_academic }}'
MLFLOW_PORT='{{ .port.mlflow }}'
STIRLING_PDF_PORT='{{ .port.stirling_pdf }}'
WEBDAV_PORT='{{ .port.webdav }}'
