[Desktop Entry]
Categories=Utility;
Comment=Pot App
# https://github.com/pot-app/pot-desktop/issues/835#issuecomment-2503111724
Exec=/usr/bin/env GDK_BACKEND=x11 WEBKIT_DISABLE_DMABUF_RENDERER=1 pot
Icon=pot
Name=pot
Terminal=false
Type=Application
