#!/usr/bin/zsh
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

if has dasel; then
  mkdir --parents --verbose "${HOME}/.zfunc"
  dasel completion zsh > "${HOME}/.zfunc/_dasel"
fi
