#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ include ".snippets/docker.sh" }}
# {{ include ".snippets/service.sh" }}

service-user-add jellyfin 50517 'Jellyfin'
mkdir --parents --verbose ./config
mkdir --parents --verbose /mnt/PC07sda1/srv/qbittorrent/downloads
sudo chown --changes --recursive jellyfin:srv ./config
docker compose up --detach --remove-orphans
