# -*- mode: dotenv; -*-
all_proxy="http://127.0.0.1:{{ .ports.proxy }}"
ALL_PROXY="http://127.0.0.1:{{ .ports.proxy }}"
ftp_proxy="http://127.0.0.1:{{ .ports.proxy }}"
FTP_PROXY="http://127.0.0.1:{{ .ports.proxy }}"
http_proxy="http://127.0.0.1:{{ .ports.proxy }}"
HTTP_PROXY="http://127.0.0.1:{{ .ports.proxy }}"
https_proxy="http://127.0.0.1:{{ .ports.proxy }}"
HTTPS_PROXY="http://127.0.0.1:{{ .ports.proxy }}"
no_proxy="{{ .no_proxy }}"
NO_PROXY="{{ .no_proxy }}"
