# -*- mode: yaml -*-

pacman:
  # ------------------------------- Toolchains ------------------------------- #
  - micromamba
  - miniconda3
  - pixi
  - pyright
  - python-pipx
  - python-ruff
  - python-uv
  - ruff
  - uv

  # ---------------------------------- Build --------------------------------- #
  - python-build
  - python-hatch
  - python-hatch-vcs
  - python-hatchling

  # ------------------------------ Documentation ----------------------------- #
  - mkdocs
  - mkdocs-autorefs
  - mkdocs-material
  - mkdocstrings

  # -------------------------------- Packages -------------------------------- #
  - python-attrs
  - python-beautifulsoup4
  - python-chex
  - python-cytoolz
  - python-einops
  - python-etils
  - python-gitpython
  - python-httpx
  - python-icecream
  - python-jax
  - python-joblib
  - python-lazy-loader
  - python-loguru
  - python-msgspec
  - python-networkx
  - python-numpy
  - python-pandas
  - python-platformdirs
  - python-polars
  - python-pydantic
  - python-pydantic-settings
  - python-pydicom
  - python-pyvista
  - python-rich
  - python-ruamel-yaml
  - python-scipy
  - python-socksio # < python-httpx[socks]
  - python-sympy
  - python-tomlkit
  - python-tqdm
  - python-trimesh
  - python-typing_extensions
  - python-wrapt
  - python-yaml

  # {{ if .hardware.nvidia.exists }}
  - python-pytorch-opt-cuda
  # {{ else }}
  - python-pytorch-opt
  # {{ end }}
