# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

# ? Setting user other than root will cause permission issues.

name: DVC

services:
  dvc:
    command: serve sftp /data --addr ':2022'
    container_name: dvc
    image: rclone/rclone:latest
    ports:
      - "{{ .ports.dvc }}:2022"
    pull_policy: weekly
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./data
        target: /data
        bind:
          create_host_path: false
      - type: bind
        source: "{{ .chezmoi.homeDir }}/.ssh/authorized_keys"
        target: /root/.ssh/authorized_keys
        read_only: true
        bind:
          create_host_path: false
