#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

pkg_list=(
  "meshio[all]"
  gnome-extensions-cli
  https://github.com/liblaf/python-cli.git
  https://github.com/liblaf/thu-learn-downloader.git
  liblaf-lime
  py-spy
  toml-sort
  # {{if .hardware.nvidia.exists}}
  nvitop
  # {{end}}
)

pkg_to_remove=(
  ai-commit-cli
  dvc
  glances
  liblaf-ai-cli
  liblaf-llm-cli
  readmeai
)

for pkg in "${pkg_to_remove[@]}"; do
  uv tool uninstall "$pkg" || true
done
for pkg in "${pkg_list[@]}"; do
  # TODO: remove `--python 3.13` when <https://github.com/astral-sh/uv/issues/8229> is resolved
  uv tool install --force --python 3.13 "$pkg"
done
uv tool install --with cookiecutter --force copier
uv tool upgrade --all

pixi global sync
