# -*- mode: ssh_config; -*-
# ref: <https://man.archlinux.org/man/sshd_config.5>
# ref: <https://wiki.archlinux.org/title/OpenSSH#Server_usage>

AcceptEnv *TERM*
AuthenticationMethods publickey
PasswordAuthentication no
PermitRootLogin no
Port {{ .port.ssh }}
UsePAM yes
X11Forwarding yes
