#!/bin/bash
# shellcheck disable=SC2317
set -o errexit
set -o nounset
set -o pipefail

# {{if not .service.jellyfin}}
exit 0
# {{end}}

# TODO: enable jellyfin
sudo systemctl disable --now jellyfin.service
