zstyle ":omz:update" mode disabled

{{ include "other/scripts/init.sh" }}
{{ include "other/scripts/load-conda.sh" }}
{{ include "other/scripts/load-direnv.sh" }}
{{ include "other/scripts/load-local-bin.sh" }}
{{ include "other/scripts/load-pnpm.sh" }}

export GPG_TTY=$(tty)
export ZSH="$HOME/.oh-my-zsh"
export ZSH_CUSTOM="$ZSH/custom"
export ZSH_THEME="starship"

plugins=(
  aliases
  command-not-found
  common-aliases
  cp
  extract
  git
  perms
  tmux
  universalarchive
  zoxide

  conda-zsh-completion
  pnpm-shell-completion
  zsh-autocomplete
  zsh-autosuggestions
  zsh-bitwarden
  zsh-syntax-highlighting

  bitwarden
  code
  colors
  completions
  keyring
  my-aliases
  nvidia
  play
  proxy
  rsync
)

ZSH_CACHE_DIR="$HOME/.cache/zsh"
mkdir --parents $ZSH_CACHE_DIR

source "$ZSH/oh-my-zsh.sh"
