#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

cd "$HOME/srv/dvc"

# {{ if .services.dvc }}

docker compose up --remove-orphans --wait

# {{ else }}

docker compose down

# {{ end }}
