# -*- mode: ini; -*-

[Unit]
Description = Backup Bitwarden Vault
# Conditions and Asserts
ConditionDirectoryNotEmpty = %h/mnt/SeaDrive/My Libraries/archive/bitwarden/auto

[Service]
# systemd.exec > ENVIRONMENT
Environment = "BW_BACKUP_DIR=%h/mnt/SeaDrive/My Libraries/archive/bitwarden/auto"
Environment = "BW_SESSION_FILE=%d/BW_SESSION"
# systemd.exec > CREDENTIALS
LoadCredential = BW_SESSION:%E/credstore/BW_SESSION
# systemd.service > OPTIONS
ExecStart = %h/.local/bin/bitwarden-backup.sh
Restart = on-failure
RestartSec = 5s
