# -*- mode: ini; -*-

[Install]
WantedBy = default.target

[Service]
Environment = "MLFLOW_AUTH_CONFIG_PATH=%h/srv/mlflow/basic-auth.ini"
Environment = "MLFLOW_BACKEND_STORE_URI=sqlite:///%h/srv/mlflow/mlruns.db"
Environment = "MLFLOW_DEFAULT_ARTIFACT_ROOT=%h/srv/mlflow/mlartifacts"
Environment = "MLFLOW_FLASK_SERVER_SECRET_KEY=asdf"
Environment = "MLFLOW_HOST=0.0.0.0"
Environment = "MLFLOW_PORT={{ .port.mlflow }}"
ExecStartPre = mkdir --parents --verbose "%h/mnt/%I"
ExecStart = %h/.local/bin/mlflow server --app-name basic-auth
Restart = always
RestartSec = 5

[Unit]
Description = MLflow Tracking Server
