# -*- mode: ini; -*-

[Unit]
Description = "Serve the remote for restic's REST API"

[Install]
WantedBy = default.target

[Service]
Environment = "ADDR=:{{ .port.restic }}"
Environment = "HTPASSWD=%d/HTPASSWD"
Environment = "REMOTE_PATH=tsinghua:/restic"
LoadCredential = HTPASSWD:%h/srv/restic/htpasswd
ExecStart = rclone serve restic --addr "${ADDR}" --htpasswd "${HTPASSWD}" "${REMOTE_PATH}"
Restart = always
RestartSec = 5
