# -*- mode: dotenv; -*-

all_proxy='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'
ALL_PROXY='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'
ftp_proxy='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'
FTP_PROXY='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'
http_proxy='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'
HTTP_PROXY='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'
https_proxy='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'
HTTPS_PROXY='http://127.0.0.1:{{ .services.mihomo.mixed.port }}'
no_proxy='localhost,127.0.0.0/8,::1'
NO_PROXY='localhost,127.0.0.0/8,::1'
