# -*- mode: ini; -*-
# ref: <https://github.com/arch4edu/mirrorlist/blob/master/mirrorlist.arch4edu>

## CERNET
Server = https://mirrors.cernet.edu.cn/arch4edu/$arch
Server = https://mirrors.tuna.tsinghua.edu.cn/arch4edu/$arch
Server = https://mirrors.bfsu.edu.cn/arch4edu/$arch
Server = https://mirror.nju.edu.cn/arch4edu/$arch

## China
Server = https://mirrors.aliyun.com/arch4edu/$arch
Server = https://mirrors.tencent.com/arch4edu/$arch

## Global
Server = https://repository.arch4edu.org/$arch
