# -*- mode: toml; -*-
#:schema https://json.schemastore.org/uv.json
# ref: <https://docs.astral.sh/uv/reference/settings/>

[[index]]
name = "mirror"
url = "{{ .mirrors.pypi }}/web/simple"
default = true

[pip]
index-url = "{{ .mirrors.pypi }}/web/simple"
