#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

bash "{{ .external_dir }}/netdata/kickstart.sh" --non-interactive --stable-channel --disable-telemetry \
  --claim-token '{{ (rbwFields "Netdata").CLAIM_TOKEN.value }}' \
  --claim-rooms '{{ (rbwFields "Netdata").ROOM_ID.value }}'
