# -*- mode: ini; -*-
# ref: <https://wiki.archlinux.org/title/Uncomplicated_Firewall>

# UFW uses the last profile it finds when it encounters duplicate profiles, so we add the prefix `z-` to the filename to ensure that custom profiles are loaded last.

[DVC]
title = DVC remote storage
description = DVC remote storage
ports = {{ .ports.dvc }}

[HTTPS]
title = HTTPS
description = HTTPS
ports = {{ .ports.https }}

# `SSHD` not `SSH` to avoid conflicts with PKG provided profile
[SSHD]
title = SSH server
description = SSH server
ports = {{ .ports.ssh }}
