# ---------------------------------- System ---------------------------------- #
bluez
bluez-utils
exfatprogs
fwupd
ntfs-3g
os-prober
v4l2loopback-dkms

# ------------------------ Hardware Video Acceleration ----------------------- #
libva-utils # VA-API
vdpauinfo   # VDPAU

# {{if .hardware.nvidia.exists}}
cuda
libva-nvidia-driver # VA-API
nvidia
nvidia-container-toolkit
nvidia-utils  # VDPAU
opencl-nvidia # OpenCL
# {{else if .hardware.intel.exists}}
intel-compute-runtime # OpenCL
intel-media-driver    # VA-API
libvdpau-va-gl        # VDPAU
# {{end}}

# ---------------------------------- Service --------------------------------- #
cloudflared
docker
earlyoom
netdata
pkgstats
ufw

# ------------------------------------ CLI ----------------------------------- #
bat
bitwarden-cli
btop
chezmoi
csvlens
ddcutil
difftastic
direnv
dmidecode
docker-compose
duf
eza
fastfetch
fd
fio
fzf
gdu
git
github-cli
glow
gping
helix
htop
httpie
hyperfine
imagemagick
jless
lnav
lshw
miniserve
ouch
pandoc-cli
pnpm
pre-commit
prettier
pueue
rbw
rclone
restic
ripgrep
rsync
sd
speedtest-cli
sshfs
starship
taplo-cli
tokei
trash-cli
vhs
wrangler
xh
yazi
zoxide

# ---------------------------------- Desktop --------------------------------- #
autorandr
blender
drawio-desktop
gimp
gnome-shell-extension-appindicator
gnome-shell-extension-vitals
gnome-shell-extensions
gnome-themes-extra
ibus-libpinyin
inkscape
kitty
obs-studio
obsidian
paraview
power-profiles-daemon
telegram-desktop
vlc
wezterm

# ----------------------------------- Fonts ---------------------------------- #
noto-fonts
noto-fonts-emoji
noto-fonts-extra
otf-monaspace-nerd
ttf-cascadia-code-nerd

# ----------------------------------- C/C++ ---------------------------------- #
bear
clang
cmake
gdb

# ----------------------------------- LaTeX ---------------------------------- #
biber

# ---------------------------------- Python ---------------------------------- #
pixi
python-httpx
python-icecream
python-socksio # required by python-httpx[socks]
ruff
rye
uv

# ----------------------------------- Rust ----------------------------------- #
rust

# ----------------------------------- Shell ---------------------------------- #
fish
fisher
shellcheck
shfmt

# ----------------------------------- Misc ----------------------------------- #
python-pygments   # required by LaTeX minted
perl-file-homedir # required by latexindent.pl
perl-yaml-tiny    # required by latexindent.pl
ffmpegthumbnailer # required by yazi
jq                # required by yazi
p7zip             # required by yazi
poppler           # required by yazi

# {{if .service.stirling_pdf}}
tesseract-data-chi_sim # required by Stirling PDF
tesseract-data-eng     # required by Stirling PDF
# {{end}}
