# -*- mode: yaml; -*-
extra:
  # System
  - bluez
  - bluez-utils
  - exfatprogs
  - fwupd
  - ntfs-3g
  - os-prober
  - v4l2loopback-dkms
  - virtualbox-host-modules-arch # virtualbox

  # Hardware Video Acceleration
  - libva-utils # VA-API
  - mpv # tsukimi
  - vdpauinfo # VDPAU
  # {{ if .hardware.nvidia.exists }}
  #   {{ if eq .hardware.nvidia.driver "open" }}
  - nvidia-open
  #   {{ else if eq .hardware.nvidia.driver "proprietary" }}
  - nvidia
  #   {{ end }}
  - cuda
  - libva-nvidia-driver # VA-API
  - nvidia-container-toolkit # Docker
  - nvidia-utils # VDPAU
  - opencl-nvidia # OpenCL
  # {{ else if .hardware.intel.exists }}
  - intel-compute-runtime # OpenCL
  - intel-media-driver # VA-API
  - libvdpau-va-gl # VDPAU
  # {{ end }}

  # Service
  - cloudflared
  - docker
  - earlyoom
  - netdata
  - pkgstats
  - ufw

  # CLI
  - aria2
  - bat
  # TODO: add back when bitwarden-cli switch to latest nodejs-lts
  # bitwarden-cli
  - btop
  - chezmoi
  - csvlens
  - ddcutil
  - difftastic
  - direnv
  - dmidecode
  - docker-compose
  - duf
  - eza
  - fastfetch
  - fd
  - fio
  - fzf
  - gdu
  - git
  - git-cliff
  - github-cli
  - glow
  - go-yq
  - gping
  - helix
  - htop
  - httpie
  - hyperfine
  - imagemagick
  - jless
  - just
  - lnav
  - lshw
  - markdownlint-cli
  - miniserve
  - ouch
  - pacutils
  - pandoc-cli
  - pnpm
  - pre-commit
  # TODO: add back when bitwarden-cli switch to latest nodejs-lts
  # prettier
  - pueue
  - rbw
  - rclone
  - restic
  - ripgrep
  - rsync
  - sd
  - speedtest-cli
  - sshfs
  - starship
  - taplo-cli
  - tokei
  - trash-cli
  - vhs
  - wrangler
  - xh
  - yazi
  - zoxide

  # Desktop
  - autorandr
  - blender
  - drawio-desktop
  - flameshot
  - gimp
  - gnome-shell-extension-appindicator
  - gnome-shell-extension-vitals
  - gnome-shell-extensions
  - gnome-themes-extra
  - ibus-libpinyin
  - inkscape
  - kitty
  - obs-studio
  - obsidian
  - paraview
  - power-profiles-daemon
  - telegram-desktop
  - virtualbox
  - vlc
  - wezterm

  # Fonts
  - noto-fonts
  - noto-fonts-emoji
  - noto-fonts-extra
  - otf-monaspace-nerd
  - ttf-cascadia-code-nerd
  - ttf-mona-sans

  # C/C++
  - bear
  - clang
  - cmake
  - gdb

  # LaTeX
  - biber

  # Python
  - mkdocs
  - mkdocs-autorefs
  - mkdocs-material
  - mkdocstrings
  - pixi
  - pyright
  - python-build
  - python-gitpython
  - python-hatch
  - python-hatch-vcs
  - python-hatchling
  - python-httpx
  - python-icecream
  - python-lazy-loader
  - python-loguru
  - python-numpy
  - python-pandas
  - python-pydantic
  - python-pydantic-settings
  - python-pytorch-opt-cuda
  - python-rich
  - python-ruamel-yaml
  - python-scipy
  - python-socksio # python-httpx[socks]
  - python-sympy
  - python-tomlkit
  - python-tqdm
  - python-typer
  - ruff
  - uv

  # Rust
  - rust

  # Shell
  - fish
  - fisher
  - shellcheck
  - shfmt

  # Misc
  - ffmpegthumbnailer # yazi
  - jq # yazi
  - p7zip # yazi
  - perl-file-homedir # latexindent.pl
  - perl-yaml-tiny # latexindent.pl
  - poppler # yazi
  - python-pygments # LaTeX minted
  - tesseract-data-chi_sim # pot-translation, Stirling PDF
  - tesseract-data-eng # pot-translation, Stirling PDF
