# gnome-shell-extension-paperwm-git
3dslicer-bin
7-zip-full
auth-thu-bin
cloudflare-warp-bin
dasel-bin
ddns-go-bin
doggo-bin
geekbench
git-extras
gnome-shell-extension-dash-to-dock
gnome-shell-extension-vitals
kalker-bin
meshlab-appimage
micromamba-bin
microsoft-edge-stable-bin
miniconda3
noto-fonts-sc
qbittorrent-vuetorrent-bin
sing-box-bin
typora
vcpkg
ventoy-bin
visual-studio-code-bin
wemeet-bin
zotero-bin

{{if .service.alist}}
alist-bin
{{end}}

{{if .hardware.nvidia}}
nvidia-container-toolkit
nvitop
{{end}}
