archlinuxcn-keyring
autorandr
bat
bear
biber
bitwarden-cli
blender
btop
chezmoi
clang
cloudflared
cmake
direnv
docker
docker-compose
duf
exfatprogs
fd
ffmpegthumbnailer # yazi
fish
fwupd
fzf
gdb
gdu
gimp
git
git-delta
github-cli
glances
glow
gnome-shell-extension-appindicator
gnome-shell-extensions
gnome-themes-extra
go
go-task
gping
grub
hyperfine
ibus-libpinyin
imagemagick
jq # yazi
libva-utils # VA-API
lldb
logrotate
lsd
man-db
man-pages
miniserve
neofetch
neovim
netdata
noto-fonts
noto-fonts-emoji
noto-fonts-extra
obs-studio
obsidian
os-prober
otf-monaspace-nerd
pandoc-cli
paraview
perl-file-homedir # latexindent
perl-yaml-tiny # latexindent
pixi
pnpm
poppler # yazi
power-profiles-daemon
pre-commit
prettier
pueue
python-bottle # glances
python-pipx
python-pygments # LaTeX minted
python-rich # ~/.local/bin/run
qbittorrent-nox
rclone
ripgrep
rsync
ruff
rustup
rye
shellcheck
shfmt
smartmontools
sof-firmware # Sound system
starship
taplo-cli
telegram-desktop
texlive-doc
tmux
tokei
trash-cli
ufw
unarchiver # yazi
vdpauinfo # VDPAU
vhs
vlc
wezterm
xh
yay
yazi
zoxide

{{if .service.jellyfin}}
jellyfin-server
jellyfin-web
{{end}}

{{if .service.Stirling_PDF}}
tesseract-data-chi_sim
tesseract-data-eng
{{end}}

{{if .hardware.nvidia}}
cuda
libva-vdpau-driver # VA-API
nvidia
opencl-nvidia # OpenCL
{{else if .hardware.intel}}
intel-compute-runtime # OpenCL
intel-media-driver # VA-API
libvdpau-va-gl # VDPAU
{{end}}
