#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ template "docker.sh" }}

cd "$HOME/srv/dvc"

# {{ if .services.dvc }}

mkdir --parents --verbose "$PWD/data"
sudo chown --verbose 'srv:srv' "$PWD/data"
docker compose up --detach --remove-orphans

# {{ else }}

docker compose down

# {{ end }}
