#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ template "docker.sh" }}

cd "$HOME/srv/dvc"

# {{ if .services.dvc }}

mkdir --parents --verbose 'data'
sudo chown --verbose '{{ .services.uid }}:{{ .services.gid }}' 'data'
docker compose up --remove-orphans --wait

# {{ else }}

docker compose down

# {{ end }}
