# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

name: MLflow

services:
  mlflow:
    build: ./docker
    command: mlflow server --app-name basic-auth
    container_name: mlflow
    environment:
      MLFLOW_ARTIFACTS_DESTINATION: /data/mlartifacts
      MLFLOW_AUTH_CONFIG_PATH: /config/basic-auth.ini
      MLFLOW_BACKEND_STORE_URI: sqlite:///data/mlruns/mlruns.db
      MLFLOW_FLASK_SERVER_SECRET_KEY: '{{ output "openssl" "rand" "-base64" "32" | trim }}'
      MLFLOW_HOST: "0.0.0.0"
      MLFLOW_PORT: "5000"
    # TODO: switch to official image until <https://github.com/mlflow/mlflow/issues/14610> is fixed
    # image: mlflow/mlflow:latest
    ports:
      - "{{ .port.mlflow }}:5000"
    pull_policy: daily
    restart: unless-stopped
    user: "{{ .chezmoi.uid }}:{{ .chezmoi.gid }}"
    volumes:
      - type: bind
        source: ./basic-auth.ini
        target: /config/basic-auth.ini
        read_only: true
        bind:
          create_host_path: false
      - type: bind
        source: ./basic-auth
        target: /data/basic-auth
        bind:
          create_host_path: false
      - type: bind
        source: ./mlartifacts
        target: /data/mlartifacts
        bind:
          create_host_path: false
      - type: bind
        source: ./mlruns
        target: /data/mlruns
        bind:
          create_host_path: false
