# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json

# ref: <https://docs.linuxserver.io/general/understanding-puid-and-pgid/>
# TODO: Images from LinuxServer.io are not yet compatible with `--user` flag.

services:
  jellyfin:
    container_name: jellyfin
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      PGID: "{{ .services.gid }}"
      PUID: "{{ .services.jellyfin.uid }}"
      UMASK: "002"
    image: lscr.io/linuxserver/jellyfin:latest
    ports:
      - 8096:8096
    pull_policy: weekly
    restart: unless-stopped
    runtime: nvidia
    volumes:
      - type: bind
        source: ./config
        target: /config
        bind:
          create_host_path: false
      - type: bind
        source: ./fonts/fallback
        target: /data/fonts
        read_only: true
        bind:
          create_host_path: false
      - type: bind
        source: ./fonts/system
        target: /usr/local/share/fonts
        read_only: true
        bind:
          create_host_path: false
      - type: bind
        source: "{{ .chezmoi.homeDir }}/srv/qbittorrent/downloads"
        target: /data/qbittorrent
        read_only: true
        bind:
          create_host_path: false
