# -*- mode: ini; -*-

[Unit]
Description = Pull Mihomo Configuration

[Service]
ExecStart = %h/.local/bin/mihomo-pull.sh
Restart = on-failure
RestartSec = 5s
