#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

cd "$HOME/srv/caddy"

sudo systemctl disable --now caddy.service || true

# {{ template "docker.sh" }}

# {{- if .service.caddy }}

docker volume create "caddy-data"
docker compose up --detach

# {{- else }}

docker compose down
docker volume rm --force "caddy-data"

# {{- end }}
