#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

cd "$HOME/srv/dvc"

# {{ template "docker.sh" }}

# {{- if .service.dvc }}

mkdir --parents --verbose "./data"
docker compose up --remove-orphans --wait

# {{- else }}

docker compose down

# {{- end }}
