#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

cd "$HOME/srv/mlflow"

systemctl --user disable --now mlflow.service || true

# {{ template "docker.sh" }}

# {{- if .service.mlflow }}

mkdir --parents --verbose "./basic-auth"
mkdir --parents --verbose "./mlartifacts"
mkdir --parents --verbose "./mlruns"
docker compose up --remove-orphans --wait

# {{- else }}

docker compose down

# {{- end }}
