#!/bin/bash
# shellcheck disable=SC2317
set -o errexit
set -o nounset
set -o pipefail

# {{ if not .service.restic }}
exit
# {{ end }}

WORKING_DIRECTORY="${HOME}/srv/restic"
PASSWORD_FILE="${WORKING_DIRECTORY}/htpasswd"

install -D --mode="u=rw,go=" --verbose /dev/null "$PASSWORD_FILE"
htpasswd -b "$PASSWORD_FILE" \
  '{{ (rbw "Restic").data.username }}' \
  '{{ (rbw "Restic").data.password }}'

systemctl --user enable --now rclone-serve-restic.service
