#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

cd "$HOME/srv/restic"

# {{- if .service.restic }}

install -D --mode="u=rw,go=" --verbose /dev/null ./htpasswd
htpasswd -b "./htpasswd" \
  '{{ (rbw "Restic").data.username }}' \
  '{{ (rbw "Restic").data.password }}'

docker compose up --detach

# {{- else }}

docker compose down

# {{- end }}
