#!/bin/bash
# shellcheck disable=SC2317
set -o errexit
set -o nounset
set -o pipefail

cd "$HOME/srv/webdav"

# {{- if not .service.webdav }}
docker compose down
exit
# {{- end }}

install -D --mode="u=rw,go=" --verbose /dev/null ./htpasswd
htpasswd -b "./htpasswd" \
  '{{ (rbw "WebDAV").data.username }}' \
  '{{ (rbw "WebDAV").data.password }}'

docker compose up --detach --pull always
