#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{ includeTemplate "docker.sh" }}
# {{ includeTemplate "service.sh" . }}

# {{ if .services.openlist.enable }}

service-user-add 'openlist' '{{ .services.openlist.uid }}' 'OpenList'
mkdir --parents --verbose './data'
sudo chown --verbose 'openlist:srv' './data'
docker compose up --detach --remove-orphans

# {{ else }}

docker compose down

# {{ end }}
