# https://thu.services/services/#wpa_supplicant

ctrl_interface=/var/run/wpa_supplicant
update_config=1

network={
  ssid="Tsinghua-Secure"
  proto=RSN
  key_mgmt=WPA-EAP
  pairwise=CCMP
  eap=PEAP
  identity="{{(bitwarden "item" "802.1X").login.username}}"
  password="{{(bitwarden "item" "802.1X").login.password}}"
  # 使用 3.0.0 及以上版本的 openssl，同时发行版没有打上相应 patch 的话（参见上一节），tls 1.0/1.1 会被默认禁用，无法连接 Tsinghua-Secure。下面这行可以解除禁用
  phase1="tls_disable_tlsv1_0=0"
  phase2="auth=MSCHAPV2"
  priority=9
}
