#!/bin/bash
# shellcheck disable=SC2317
set -o errexit
set -o nounset
set -o pipefail

# {{if not .alist}}
exit 0
# {{end}}

sudo systemctl stop alist.service
sudo dasel put --file="/var/lib/alist/config.json" --selector=".site_url" --value="https://alist.liblaf.me"
sudo systemctl enable --now alist.service
