# -*- mode: toml; -*-
# ref: <https://help.mirrors.cernet.edu.cn/anaconda-extra/>
# ref: <https://help.mirrors.cernet.edu.cn/anaconda/>
# ref: <https://help.mirrors.cernet.edu.cn/pypi/>
# ref: <https://pixi.sh/latest/reference/pixi_configuration/>

[shell]
change-ps1 = false

[mirrors]
# Anaconda
# {{- $mirror := .mirrors.anaconda }}
# {{- range $c := .pixi.mirrors.channels.anaconda }}
"https://conda.anaconda.org/{{ . }}" = ["{{ $mirror }}/cloud/{{ . }}"]
# {{- end -}}
#
# Anaconda Extra
# {{- $mirror := .mirrors.anaconda_extra }}
# {{- range $c := .pixi.mirrors.channels.anaconda_extra }}
"https://conda.anaconda.org/{{ . }}" = ["{{ $mirror }}/cloud/{{ . }}"]
# {{- end -}}
#
# Mirrors for PyPi resolving and PyPi package downloading
"https://pypi.org/simple" = ["{{ .mirrors.pypi }}/web/simple"]
"https://files.pythonhosted.org/packages" = ["{{ .mirrors.pypi }}/web/packages"]
