['{{ joinPath .externalDirRelative "grub2-themes" }}']
exact = true
refreshPeriod = "168h"
stripComponents = 1
type = "archive"
url = "https://github.com/vinceliuice/grub2-themes/archive/refs/heads/master.tar.gz"
