#!/usr/bin/zsh

{{ template "init.sh" }}

if [[ ${TERM} == "xterm-kitty" ]]; then
  alias ssh="kitty +kitten ssh"
fi

if has lsd; then
  alias ls="lsd"
  alias tree="lsd --tree"
fi

if has nvim; then
  export EDITOR="nvim"
fi

if has yay; then
  function y() {
    run yay --devel --sync --sysupgrade --refresh "${@}"
  }
fi
