#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

pkg_list=(
  commitizen
  cspell
  speedscope
)

export PNPM_HOME="$HOME/.local/share/pnpm"
mkdir --parents --verbose "$PNPM_HOME"

pnpm env use --global lts
pnpm add --global "${pkg_list[@]}"
pnpm update --global
