#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

# {{include ".ignore/scripts/load-pnpm.sh"}}

pkg_list=(
  commitizen
  cspell
  speedscope
)

pnpm env use --global lts
pnpm add --global "${pkg_list[@]}"
pnpm update --global
