#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

run sudo apt update

APT_PACKAGES=(
  apt-file
  build-essential
  curl
  git
  zsh
)

run sudo apt install ${APT_PACKAGES[@]}
