#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

APT_PACKAGES=(
  apt-file
  build-essential
  curl
  git
  libfuse2
  sntp
  zsh
)

run sudo apt install "${APT_PACKAGES[@]}"
