#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

TMP_DIR="$(mktemp --directory)"

run git clone --depth 1 https://github.com/vinceliuice/grub2-themes.git "${TMP_DIR}"
cd "${TMP_DIR}"
sed --in-place "s/clear/:/g" install.sh
run sudo ./install.sh --screen 4k
run rm --force --recursive "${TMP_DIR}"
