# https://man.archlinux.org/man/sshd_config.5
# https://wiki.archlinux.org/title/OpenSSH#Server_usage

AcceptEnv TERM*
AuthenticationMethods publickey
PasswordAuthentication no
PermitRootLogin no
Port {{.ssh.port}}
UsePAM yes
X11Forwarding yes
