#!/bin/bash
# -*- mode: sh; -*-
# shellcheck disable=SC2317
set -o errexit
set -o nounset
set -o pipefail

# {{- if .hardware.nvidia.exists }}
exit
# {{- else if not .hardware.intel.exists }}
exit
# {{- end }}

packages=(
  intel-compute-runtime # OpenCL
  intel-media-driver    # VA-API
  libvdpau-va-gl        # VDPAU
  python-pytorch-opt
)
yay --devel --useask=false --sync --needed --noconfirm "${packages[@]}"
