#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{- template "yay.sh" -}}

# {{- if .hardware.nvidia.exists }}

install=(
  cuda
  libva-nvidia-driver      # VA-API
  nvidia-container-toolkit # Docker
  nvidia-utils             # VDPAU
  opencl-nvidia            # OpenCL
  python-pytorch-opt-cuda

  # `nvidia-open` now works fine on `AD107M`
  # // ref: <https://github.com/NVIDIA/open-gpu-kernel-modules/issues/507>
  # // {{- if eq .hardware.nvidia.codename "AD107M" }}
  # // linux-cachyos-lts-lto-nvidia
  # // {{- end }}
)
yay-install "${install[@]}"

# These services are automatically enabled by the `nvidia-utils` package.
# sudo systemctl enable nvidia-hibernate.service
# sudo systemctl enable nvidia-resume.service
# sudo systemctl enable nvidia-suspend.service

# {{- if .hardware.nvidia.mobile }}
sudo systemctl enable --now nvidia-powerd.service
# {{- end }}

# {{- end }} // if .hardware.nvidia.exists
