#!/bin/bash
# -*- mode: sh; -*-
set -o errexit
set -o nounset
set -o pipefail

# {{- template "yay.sh" -}}

# {{- if .hardware.nvidia.exists }}
# {{- else if .hardware.intel.exists }}

install=(
  intel-compute-runtime # OpenCL
  intel-media-driver    # VA-API
  libvdpau-va-gl        # VDPAU
  python-pytorch-opt
)
yay-install "${install[@]}"

# {{- end }} // if .hardware.intel.exists
