# -*- mode: caddyfile; -*-
{
	# All zones - Zone:Read, DNS:Edit
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

forgejo.liblaf.me {
	reverse_proxy 127.0.0.1:3000
}

jellyfin.liblaf.me {
	reverse_proxy 127.0.0.1:8096
}

oplist.liblaf.me {
	reverse_proxy 127.0.0.1:5244
}

qbt.liblaf.me {
	reverse_proxy 127.0.0.1:8080
}
