# -*- mode: dotenv; -*-

HTTP_PORT='{{ .services.caddy.http.port }}'
HTTPS_PORT='{{ .services.caddy.https.port }}'

CLOUDFLARE_API_TOKEN='{{ (rbwFields "Cloudflare").CADDY_API_TOKEN.value }}'

BASE_DOMAIN='liblaf.me'

FORGEJO_PORT='{{ .services.forgejo.http.port }}'

QBITTORRENT_PORT='{{ .services.qbittorrent.webui.port }}'
