# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

services:
  # {{if .service.gpt_academic}}
  gpt_academic:
    container_name: gpt_academic
    image: "{{.mirrors.docker_ghcr}}/binary-husky/gpt_academic_nolocal:master"
    environment:
      API_KEY: '{{(bitwarden "item" "OPENAI_API_KEY").notes}}'
      USE_PROXY: "True"
      proxies: '{"http": "http://172.17.0.1:64393", "https": "http://172.17.0.1:64393"}'
      DEFAULT_WORKER_NUM: 16
      WEB_PORT: 52139
      LLM_MODEL: gpt-3.5-turbo-0125
      ADD_WAIFU: "True"
      AUTHENTICATION: |
        [
          (
            '{{(bitwarden "item" "GPT Academic").login.username}}',
            '{{(bitwarden "item" "GPT Academic").login.password}}',
          )
        ]
    ports:
      - 52139:52139
    command: bash -c "python -u main.py"
    restart: unless-stopped
  # {{end}}

  # {{if .service.Stirling_PDF}}
  Stirling-PDF:
    container_name: Stirling-PDF
    image: frooodle/s-pdf:latest
    deploy:
      resources:
        limits:
          memory: 4G
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f http://localhost:8080/api/v1/info/status | grep -q 'UP' && curl -fL http://localhost:8080/ | grep -qv 'Please sign in'",
        ]
      interval: 5s
      timeout: 10s
      retries: 16
    ports:
      - 42600:8080
    volumes:
      - /usr/share/tessdata:/usr/share/tesseract-ocr/5/tessdata
    environment:
      DOCKER_ENABLE_SECURITY: "false"
      SECURITY_ENABLELOGIN: "false"
      SYSTEM_DEFAULTLOCALE: en-US
      SYSTEM_MAXFILESIZE: "100"
      METRICS_ENABLED: "true"
      SYSTEM_GOOGLEVISIBILITY: "true"
    restart: on-failure:5
  # {{end}}
