#!/bin/bash
set -o errexit
set -o nounset
set -o pipefail

if type pueue &> /dev/null; then
  task_id=$(pueue add --working-directory "$(pwd)" --group "chezmoi" --print-task-id -- docker compose pull)
  pueue add --working-directory "$(pwd)" --group "chezmoi" --after "$task_id" -- docker compose up --detach
else
  docker compose pull
  docker compose up --detach || true
fi
