#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

sudo install --mode="u=rw,go=r" --no-target-directory --verbose "{{ .chezmoi.sourceDir }}/.ignore/timesyncd.conf" /etc/systemd/timesyncd.conf

run-safe sudo systemctl disable --now warp-svc.service
run-safe sudo systemctl enable --now tlp.service
run-safe systemctl --user disable --now warp-taskbar.service
run-safe systemctl --user enable --now proxy.service
