#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

sudo install --mode="u=rw,go=r" --no-target-directory --verbose \
  "{{ .chezmoi.sourceDir }}/.ignore/etc/ssh/sshd_config" \
  /etc/ssh/sshd_config

run-safe sudo systemctl enable --now sshd.service
