#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

tmpfile="$(mktemp)"
trap "rm --force --verbose ${tmpfile}" EXIT
chezmoi execute-template < "{{ .chezmoi.sourceDir }}/.ignore/etc/ssh/sshd_config.tmpl" > "${tmpfile}"
sudo install --mode="u=rw,go=r" --no-target-directory --verbose "${tmpfile}" /etc/ssh/sshd_config

run-safe sudo systemctl enable --now sshd.service
