#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

extensions=(
  aaron-bond.better-comments
  Chouzz.vscode-better-align
  donjayamanne.python-extension-pack
  eamodio.gitlens
  esbenp.prettier-vscode
  foxundermoon.shell-format
  GitHub.copilot
  GitHub.copilot-labs
  golang.go
  iliazeus.vscode-ansi
  James-Yu.latex-workshop
  llvm-vs-code-extensions.vscode-clangd
  ms-python.black-formatter
  ms-python.isort
  ms-vscode-remote.remote-ssh
  ms-vscode.cmake-tools
  ms-vscode.makefile-tools
  oderwat.indent-rainbow
  PKief.material-icon-theme
  redhat.vscode-yaml
  ryanluker.vscode-coverage-gutters
  shd101wyy.markdown-preview-enhanced
  streetsidesoftware.code-spell-checker
  tamasfe.even-better-toml
  # WakaTime.vscode-wakatime
  yzhang.markdown-all-in-one
)

if has code; then
  echo -n "${extensions[@]}" |
    xargs -I '{}' -d ' ' --max-args=1 --max-procs="$(nproc)" --no-run-if-empty --verbose -- code --install-extension '{}' --force
fi

if has code-insiders; then
  echo -n "${extensions[@]}" |
    xargs -I '{}' -d ' ' --max-args=1 --max-procs="$(nproc)" --no-run-if-empty --verbose -- code-insiders --install-extension '{}' --force
fi

exit 0
