#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

mkdir --parents --verbose "{{ .chezmoi.homeDir }}/.local/share/pnpm"

{{ template "init.sh" }}
{{ template "load-pnpm.sh" }}

pkg_list=(
  @bitwarden/cli
  commitizen
  prettier
  serve
  speedscope
  vercel
)

pkg_list=(${pkg_list[@]/%/"@latest"})

pnpm env use --global latest

echo "${pkg_list[@]}" |
  xargs --max-args=1 --max-procs=1 --no-run-if-empty --verbose -- pnpm add --global

exit 0
