#!/bin/bash
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

sudo install -D --mode="u=rw,go=r" --no-target-directory --verbose \
  "{{ .chezmoi.sourceDir }}/.ignore/etc/systemd/journald.conf" \
  /etc/systemd/journald.conf
sudo install -D --mode="u=rw,go=r" --no-target-directory --verbose \
  "{{ .chezmoi.sourceDir }}/.ignore/etc/systemd/timesyncd.conf" \
  /etc/systemd/timesyncd.conf

run-safe sudo systemctl disable --now warp-svc.service
run-safe sudo systemctl enable --now cronie.service
run-safe sudo systemctl enable --now nvidia-powerd.service
run-safe sudo systemctl enable --now sshd.service
run-safe sudo systemctl enable --now tlp.service
run-safe sudo systemctl enable --now ufw.service
run-safe sudo systemctl enable nvidia-hibernate.service
run-safe sudo systemctl enable nvidia-resume.service
run-safe sudo systemctl enable nvidia-suspend.service
run-safe systemctl --user disable --now warp-taskbar.service
run-safe systemctl --user enable --now clash.service
run-safe systemctl --user enable --now glances.service
run-safe systemctl --user enable --now goauthing.service
run-safe systemctl --user enable --now proxy.service
