# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

name: WebDAV

services:
  webdav:
    command: >-
      serve webdav tsinghua:/webdav
        --addr ":8080"
        --htpasswd "/data/htpasswd"
        --vfs-cache-mode full
    container_name: webdav
    image: rclone/rclone:latest
    ports:
      - "{{ .port.webdav }}:8080"
    user: "{{ .chezmoi.uid }}:{{ .chezmoi.gid }}"
    volumes:
      - type: bind
        source: ./htpasswd
        target: /data/htpasswd
        read_only: true
        bind:
          create_host_path: false
      - type: bind
        source: "{{ .chezmoi.homeDir }}/.config/rclone/rclone.conf"
        target: /config/rclone/rclone.conf
        read_only: true
        bind:
          create_host_path: false
