zstyle ":omz:update" mode disabled

{{ template "load-conda.sh" }}
{{ template "load-direnv.sh" }}
{{ template "load-local-bin.sh" }}
{{ template "load-pnpm.sh" }}

export GPG_TTY="$(tty)"
export ZSH="${HOME}/.oh-my-zsh"
export ZSH_CUSTOM="${ZSH}/custom"
export ZSH_THEME="starship"

plugins=(
  aliases
  command-not-found
  common-aliases
  cp
  extract
  git
  perms
  tmux
  universalarchive
  zoxide

  conda-zsh-completion
  pnpm-shell-completion
  zsh-autocomplete
  zsh-bitwarden
  zsh-syntax-highlighting

  bitwarden
  code
  colors
  completions
  my-aliases
  proxy
  rsync
)

ZSH_CACHE_DIR="${HOME}/.cache/zsh"
mkdir --parents "${ZSH_CACHE_DIR}"

source "${ZSH}/oh-my-zsh.sh"
