# -*- mode: ini; -*-

[Unit]
Description = Update Mihomo Configuration

[Install]
WantedBy = timers.target

[Timer]
OnCalendar = daily
Persistent = true
