# -*- mode: ini; -*-

[Unit]
Description = Publish Sub-Store Configuration

[Install]
WantedBy = timers.target

[Timer]
OnCalendar = daily
Persistent = true
