#!/bin/bash
# -*- mode: sh; -*-

gsettings set org.gnome.system.proxy.ftp host 127.0.0.1
gsettings set org.gnome.system.proxy.ftp port '{{ .ports.proxy }}'
gsettings set org.gnome.system.proxy.http host 127.0.0.1
gsettings set org.gnome.system.proxy.http port '{{ .ports.proxy }}'
gsettings set org.gnome.system.proxy.https host 127.0.0.1
gsettings set org.gnome.system.proxy.https port '{{ .ports.proxy }}'
gsettings set org.gnome.system.proxy.socks host 127.0.0.1
gsettings set org.gnome.system.proxy.socks port '{{ .ports.proxy }}'
gsettings set org.gnome.system.proxy mode manual

export all_proxy='http://127.0.0.1:{{ .ports.proxy }}/'
export ALL_PROXY="$all_proxy"
export ftp_proxy='http://127.0.0.1:{{ .ports.proxy }}/'
export FTP_PROXY="$ftp_proxy"
export http_proxy='http://127.0.0.1:{{ .ports.proxy }}/'
export HTTP_PROXY="$http_proxy"
export https_proxy='http://127.0.0.1:{{ .ports.proxy }}/'
export HTTPS_PROXY="$https_proxy"
export no_proxy='{{ .no_proxy }}'
export NO_PROXY="$no_proxy"
