{
  "proxies": {
    "http-proxy": "http://127.0.0.1:{{.port.proxy}}",
    "https-proxy": "http://127.0.0.1:{{.port.proxy}}",
    "no-proxy": "localhost,127.0.0.0/8,::1"
  },
  "registry-mirrors": [
    "{{.mirrors.dockerhub}}"
  ]
}
