3dslicer-bin
7-zip-full
auth-thu-bin
cloudflare-warp-bin
dasel-bin
doggo-bin
geekbench
git-extras
gnome-shell-extension-dash-to-dock
gnome-shell-extension-paperwm-git
gnome-shell-extension-vitals
meshlab-appimage
micromamba-bin
microsoft-edge-stable-bin
miniconda3
netdata-go-plugins
noto-fonts-sc
qbittorrent-vuetorrent-bin
sing-box-bin
typora
vcpkg
ventoy-bin
visual-studio-code-bin
wemeet-bin
zotero-bin

{{if .alist -}}
alist-bin
{{- end}}

{{if .nvidia.install -}}
nvidia-container-toolkit
nvitop
{{- end}}
