archlinuxcn-keyring
bat
bear
biber
bitwarden-cli
blender
btop
chezmoi
clang
cloudflared
cmake
cronie
direnv
docker
docker-compose
doxygen
duf
exfat-utils
fish
fzf
gdb
gdu
gimp
git
git-delta
github-cli
glances
glow
gnome-shell-extension-appindicator
gnome-shell-extensions
gnome-themes-extra
go
go-task
gping
grub
helix
httpie
hyperfine
ibus-libpinyin
imagemagick
jq
kitty
lazygit
lf
libva-utils # VA-API
lldb
llvm
lsd
man-db
man-pages
miniserve
neofetch
neovim
netdata
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
noto-fonts-extra
obs-studio
os-prober
otf-monaspace-nerd
pandoc-cli
perl-file-homedir # latexindent
perl-yaml-tiny # latexindent
pnpm
power-profiles-daemon
pre-commit
prettier
pueue
python-bottle # glances
python-pipx
python-poetry
python-pygments
python-rich # ~/.local/bin/run
qbittorrent-nox
rclone
ripgrep
rsync
rustup
shellcheck
shfmt
sof-firmware # Sound system
starship
telegram-desktop
texlive-doc
tldr
tmux
tokei
trash-cli
ttf-firacode-nerd
ufw
vdpauinfo # VDPAU
vhs
vlc
yay
yq
zettlr
zoxide

{{if .jellyfin -}}
jellyfin-server
jellyfin-web
{{- end}}

{{if .nvidia.install -}}
cuda
libva-vdpau-driver # VA-API
nvidia
opencl-nvidia # OpenCL
{{- else if .intel -}}
intel-compute-runtime # OpenCL
intel-media-driver # VA-API
libvdpau-va-gl # VDPAU
{{- end}}
