# vim: syntax=ini
[Service]
ExecStart = %h/.local/bin/bitwarden-backup.sh
Restart = on-failure
RestartSec = 5s

[Unit]
Description = Backup Bitwarden Vault
