[Install]
WantedBy=default.target

[Service]
ExecStart=%h/.local/bin/ddns --token={{ (bitwarden "item" "CLOUDFLARE_TOKEN_DNS").notes }} --zone={{ (bitwarden "item" "CLOUDFLARE_ZONE").notes }}
Restart=always
RestartSec=1min

[Unit]
Description=DDNS
