# https://gitlab.archlinux.org/archlinux/packaging/packages/glances/-/blob/main/glances.service

[Install]
WantedBy=default.target

[Service]
ExecStart=%h/.local/bin/glances --webserver
Restart=always
RestartSec=5

[Unit]
Description=Glances Server
