# https://gitlab.archlinux.org/archlinux/packaging/packages/glances/-/blob/main/glances.service

[Install]
WantedBy = default.target

[Service]
ExecStart  = glances --webserver
Restart    = always
RestartSec = 5

[Unit]
Description = Glances Server
