# https://gitlab.archlinux.org/archlinux/packaging/packages/glances/-/blob/main/glances.service

[Unit]
Description=Glances Server

[Service]
ExecStart=glances --webserver
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
