# vim: syntax=ini
[Unit]
Description = Authenticating utility for auth.tsinghua.edu.cn
StartLimitIntervalSec = 0

[Service]
ExecStartPre = sleep 1
ExecStartPre = -auth-thu -D deauth
ExecStartPre = sleep 1
ExecStartPre = -auth-thu -D auth
ExecStartPre = sleep 1
ExecStartPre = -auth-thu -D login
ExecStartPre = sleep 1
ExecStart = auth-thu -D online
Restart = always
RestartSec = 5s

[Install]
WantedBy = default.target
