[Install]
WantedBy = default.target

[Service]
ExecStartPre = mkdir --parents --verbose %h/personal
ExecStart    = rclone mount personal:/ %h/personal --vfs-cache-mode full
Restart      = always
RestartSec   = 5

[Unit]
Description = OneDrive Personal
