[Install]
WantedBy = default.target

[Service]
ExecStartPre = mkdir --parents --verbose %h/business
ExecStart    = rclone mount business:/ %h/business --vfs-cache-mode full
Restart      = always
RestartSec   = 5

[Unit]
Description = OneDrive Business
