# -*- mode: ini; -*-

[Unit]
# systemd.unit > OPTIONS
# if `seadrive.service` is stopped, this unit will be stopped too.
After = seadrive.service
BindsTo = seadrive.service
Description = Rclone Serve WebDAV
# systemd.unit > Conditions and Asserts
# AssertDirectoryNotEmpty = %h/mnt/SeaDrive/My Libraries/webdav

[Install]
WantedBy = default.target

[Service]
# systemd.exec > ENVIRONMENT
Environment = "ADDR=:{{ .port.webdav }}"
Environment = "HTPASSWD=%d/HTPASSWD"
Environment = "REMOTE_PATH=%h/mnt/SeaDrive/My Libraries/webdav"
# systemd.exec > CREDENTIALS
LoadCredential = HTPASSWD:%E/services/webdav/htpasswd
# systemd.service > OPTIONS
ExecStart = rclone serve webdav "${REMOTE_PATH}" --addr "${ADDR}" --htpasswd "${HTPASSWD}" --vfs-cache-mode full
Restart = always
RestartSec = 5
