[Install]
WantedBy = default.target

[Service]
ExecStart = rclone serve webdav "%h/SeaDrive/My Libraries/webdav/" --addr ":{{.port.webdav}}" --htpasswd "%h/.config/services/webdav/htpasswd" --vfs-cache-mode full
Restart = always
RestartSec = 5

[Unit]
Description = Rclone Serve WebDAV
