# -*- mode: ini; -*-

[Unit]
Description = SeaDrive Daemon

[Install]
WantedBy = default.target

[Service]
# systemd.exec > ENVIRONMENT
Environment = "CONFIG_FILE=%E/seadrive/seadrive.conf"
Environment = "MOUNT_DIR=%h/net/SeaDrive"
Environment = "SEAFILE_DIR=%C/seafile"
# systemd.service > OPTIONS
# https://help.seafile.com/drive_client/drive_client_for_linux/
ExecStartPre = -fusermount -u "$MOUNT_DIR"
ExecStartPre = mkdir --parents --verbose "$MOUNT_DIR"
ExecStart = seadrive -d "${SEAFILE_DIR}" -f -c "${CONFIG_FILE}" "${MOUNT_DIR}"
Restart = always
RestartSec = 5s
