# -*- mode: ini; -*-

[Service]
ExecStart = %h/.local/bin/sing.sh
Restart = on-failure
RestartSec = 5s

[Unit]
Description = Update sing-box Subscription
