# -*- mode: ini; -*-

[Unit]
Description = Update sing-box Configuration

[Service]
ExecStart = %h/.local/bin/sing.sh
Restart = on-failure
RestartSec = 5s
