# vim: syntax=ini
[Install]
WantedBy = timers.target

[Timer]
OnStartupSec = 0
OnUnitActiveSec = 1d

[Unit]
Description = Update sing-box Subscription
