# -*- mode: yaml; -*-
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

name: Restic REST Server

services:
  rest-server:
    command: >-
      serve restic
        --addr ":8080"
        --htpasswd "/data/htpasswd"
        "tsinghua:/restic"
    container_name: restic-rest-server
    image: rclone/rclone:latest
    ports:
      - "{{ .port.restic }}:8080"
    user: "{{ .chezmoi.uid }}:{{ .chezmoi.gid }}"
    volumes:
      - type: bind
        source: ./htpasswd
        target: /data/htpasswd
        read_only: true
        bind:
          create_host_path: false
      - type: bind
        source: "{{ .chezmoi.homeDir }}/.config/rclone/rclone.conf"
        target: /config/rclone/rclone.conf
        read_only: true
        bind:
          create_host_path: false
