pacman:
  # {{ if eq .fs.fstype "btrfs" }}
  # ref: <https://wiki.archlinux.org/title/Snapper#Wrapping_pacman_transactions_in_snapshots>
  - btrfs-assistant
  - btrfs-desktop-notification
  - cachyos-snapper-support
  - compsize
  - grub-btrfs
  - grub-btrfs-support
  - snap-pac
  - snapper
  # {{ end }}
