# -*- mode: dotenv; -*-

HTTP_PORT='{{ .services.http.port }}'
HTTPS_PORT='{{ .services.https.port }}'

CLOUDFLARE_API_TOKEN='{{ (rbwFields "Cloudflare").CADDY_API_TOKEN.value }}'

BASE_DOMAIN='{{ .baseDomain }}'

FORGEJO_PORT='{{ .services.forgejo.port }}'

QBITTORRENT_PORT='{{ .services.qbittorrent_webui.port }}'
