# -*- mode: toml; -*-
#:schema https://www.schemastore.org/bunfig.json
# ref: <https://bun.com/docs/runtime/bunfig>

# ! `chsrc measure npm`
# ! FASTEST mirror site: Upstream
# [install]
# registry = "{{ .mirrors.npm }}/"
