#!/usr/bin/zsh
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}
{{ template "load-pnpm.sh" }}

if has bw; then
  mkdir --parents --verbose "{{ .chezmoi.homeDir }}/.zfunc"
  bw completion --shell zsh > "{{ .chezmoi.homeDir }}/.zfunc/_bw"
fi
