#!/usr/bin/zsh
# set -o errexit
set -o nounset
set -o pipefail

{{ template "init.sh" }}

if has dasel; then
  mkdir --parents --verbose "{{ .chezmoi.homeDir }}/.zfunc"
  dasel completion zsh > "{{ .chezmoi.homeDir }}/.zfunc/_dasel"
fi
