# -*- mode: desktop; -*-
# ref: <https://specifications.freedesktop.org/desktop-entry-spec/latest/recognized-keys.html>

[Desktop Entry]
Type = Application
Name = Wrap
Icon = Faceform-Wrap
Exec = {{ .chezmoi.homeDir }}/.local/opt/Wrap/Wrap.sh
Terminal = false
